<template>
  <div class="cardFont">
    <v-card max-width="350">
      <v-card-text>
        <div class="hover-pointer" @click="navigateToOrder(order.id)" >
          <v-row justify="space-between">
            <v-col cols="auto">
              <v-chip
                :class="order.status.value"
                class="white--text"
                small
              >
                <v-avatar left>
                  <v-icon small id="cardIcon">{{orderStatusIcon[order.status.value]}}</v-icon>
                </v-avatar>
                <span>
                  {{ parameters.orderStatus[order.status.value] || order.status.value }}
                </span>
              </v-chip>
            </v-col>
            <v-col cols="auto">
              <v-chip class="black--text" small>
                <span class="font-weight-medium">{{ '₦'+order.total_amount }}</span>
              </v-chip>
            </v-col>
          </v-row>

          <v-row justify="space-between">
            <v-col v-if="order.customer" cols="auto" @click="navigateToOrder(order.id)" class="hover-pointer">
              <span> {{order.customer.first_name}} {{order.customer.last_name}}</span>
            </v-col>
            <v-col cols="auto" @click="navigateToOrder(order.id)" class="text--primary hover-pointer">
              <span> {{order.order_number}}</span>
            </v-col>
          </v-row>

          <v-row @click="navigateToOrder(order.id)" class="hover-pointer" justify="space-between">
            <v-col cols="auto">
              Table <span class="body-2 font-weight-bold">{{order.table}}</span>
            </v-col>
            <v-col cols="auto">
              <span class="">{{ order.created | moment("calendar") }}</span>
            </v-col>
          </v-row>
        </div>

        <v-row justify="space-between">
          <v-col cols="auto">
            <v-switch v-if="order.charge_customer" disabled dense color="orange" v-model="order.is_paid" label="Paid" @change="updateIsPaid" hide-details></v-switch>
            <v-switch v-else dense color="orange" v-model="order.is_paid" label="Paid" @change="updateIsPaid" hide-details></v-switch>
          </v-col>
          <v-col cols="auto" v-if="order.customer">
            <v-btn disabled small outlined color="grey darken-2" v-if="order.charge_customer">
              <v-icon left>mdi-credit-card</v-icon> Charged
            </v-btn>
            <div v-else>
              <v-btn v-if="order.is_paid" disabled small outlined color="grey darken-2">
                <v-icon left>mdi-credit-card</v-icon> Charge
              </v-btn>
              <v-btn @click="chargeCustomer" v-if="!order.is_paid" small outlined color="grey darken-2">
                <v-icon left>mdi-credit-card</v-icon> Charge
              </v-btn>
            </div>
          </v-col>
        </v-row>

        <div>
          <span>Updated: {{ order.last_modified | moment("calendar") }}</span>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-layout row wrap>
          <v-flex>
            <v-tooltip bottom v-for="(statusItem, index) in orderStatus.filter(status => status.id != order.status.id)" :key="index">
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" @click="changeStatus(statusItem)">
                  <v-icon>{{orderStatusIcon[statusItem.value]}}</v-icon>
                </v-btn>
              </template>
              <span>{{ parameters.orderStatus[statusItem.value] || statusItem.value }}</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { parameters } from '@/utils/parameters.js'
export default {
  name: 'OrderCard',
  props: ['order', 'orderStatus'],
  data: () => ({
    open: 'orange',
    processing: 'green',
    parameters: parameters,
    orderStatusIcon: {
      open: 'mdi-clipboard-alert',
      processing: 'mdi-pot-steam',
      ready: 'mdi-rice',
      served: 'mdi-table-furniture',
      awaitingPayment: 'mdi-currency-ngn',
      completed: 'mdi-check'
    }
  }),
  methods: {
    navigateToOrder (id) {
      this.$router.push(`/orders/${id}`)
    },
    changeStatus (statusItem) {
      let payload = { id: this.order.id, status: statusItem }
      this.$emit('changeOrderStatus', payload)
    },
    updateIsPaid (status) {
      let payload = {
        id: this.order.id,
        is_paid: status
      }
      this.$emit('updateOrderIsPaid', payload)
    },
    chargeCustomer () {
      this.$emit('chargeCustomer', this.order)
    }
  }
}
</script>

<style scoped>
  #cardIcon.theme--light.v-icon {
    color: #f5f5f5;
  }
  .hover-pointer:hover {
    cursor: pointer;
  }
  .open.theme--light.v-chip:not(.v-chip--active) {
    background: orange;
  }
  .processing.theme--light.v-chip:not(.v-chip--active) {
    background: #1E88E5;
  }
  .ready.theme--light.v-chip:not(.v-chip--active) {
    background: #43A047;
  }
  .served.theme--light.v-chip:not(.v-chip--active) {
    background: #5E35B1;
  }
  .awaitingPayment.theme--light.v-chip:not(.v-chip--active) {
    background: #E53935;
  }
  .completed.theme--light.v-chip:not(.v-chip--active) {
    background: #FFD600;
  }
  .cancelled.theme--light.v-chip:not(.v-chip--active) {
    background: #546E7A;
  }
  .archived.theme--light.v-chip:not(.v-chip--active) {
    background: #424242;
  }
  .margins {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .margin-top {
    margin-top: 5px;
  }
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
  }
  .cardFont {
    font-size: 10px;
  }
  .v-input--selection-controls {
    margin-top: 0;
    padding-top: 0px;
  }
  .v-expansion-panel-header {
    padding: 0px, 0px;
  }
</style>
