<template>
  <div>
    <v-card
      class="margins"
      color="grey lighten-4"
      max-width="600"
    >
      <v-img
      :aspect-ratio="16/9"
      :src="product.image"
      >
        <div
        v-if="product['ordered_quantity']>0"
        class="d-flex orange darken-4 v-card--reveal display-3 white--text"
        style="height: 100%;"
        >
        {{product['ordered_quantity']}}
        </div>
      </v-img>
      <v-card-text
      class="pt-6"
      style="position: relative;"
      >
        <div v-if="product['ordered_quantity']==0">
          <v-btn
            absolute
            color="orange"
            class="white--text"
            fab
            right
            top
            @click="incrementProductOrderedQuantity()"
            >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
        <div v-if="product['ordered_quantity']>0">
          <v-btn
            v-if="product['ordered_quantity']>1"
            absolute
            color="orange"
            class="white--text"
            fab
            left
            top
            @click="decrementProductOrderedQuantity()"
          >
          <v-icon>mdi-minus</v-icon>
          </v-btn>
          <v-btn
            absolute
            color="orange"
            class="white--text"
            fab
            right
            top
            @click="incrementProductOrderedQuantity()"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
        <div class="font-weight-light grey--text">{{product.quantity_in_stock}} in stock</div>
        <h3 class="title font-weight-light orange--text mb-2">{{product.name}}</h3>
        <div class="font-weight-light">
          {{'₦'+product.unit_price}}
        </div>
      </v-card-text>
    </v-card>
    <v-snackbar
      v-model="snackbar"
      :timeout="snackbarTimeout"
      :bottom="true"
      color="orange"
      :left="true"
    >
      {{ snackbarText }}
      <v-btn
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'OrderProductCard',
  props: ['product'],
  computed: {
  },
  mounted () {
    this.quantityInStock = this.product.quantity_in_stock
  },
  data: () => ({
    quantityInStock: 0,
    snackbar: false,
    snackbarText: '',
    snackbarTimeout: 2000
  }),
  methods: {
    incrementProductOrderedQuantity () {
      if (this.quantityInStock > 0) {
        this.quantityInStock -= 1
        this.$set(this.product, 'ordered_quantity', (this.product['ordered_quantity'] + 1))
        this.$emit('updateOrderProductList', this.product)
        this.$forceUpdate()
      } else {
        this.snackbar = true
        this.snackbarText = `You have reached the maximium quantity of ${this.product.name} in stock`
        this.snackbarTimeout = 2000
      }
    },
    decrementProductOrderedQuantity () {
      if (this.product['ordered_quantity'] > 0) {
        this.quantityInStock += 1
        this.$set(this.product, 'ordered_quantity', (this.product['ordered_quantity'] - 1))
        if (this.product['ordered_quantity'] === 0) {
          this.$emit('deleteFromOrderProductList', this.product)
        } else if (this.product['ordered_quantity'] > 0) {
          this.$emit('updateOrderProductList', this.product)
        }
      }
      this.$forceUpdate()
    }
  }
}
</script>

<style scoped>
 .margins {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
 }
 .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
 }
</style>
