<template>
  <v-flex>
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >
      <v-flex class="margin-bottom">
        <h3 class="display-1">{{title}}</h3>
      </v-flex>
      <v-flex class="margin-bottom">
        <v-row>
          <v-col cols="3">
            <v-text-field
              label="Table"
              placeholder="Enter table number"
              outlined
              type="number"
              v-model="order.table"
              :rules="tableNumberRules"
              required
              min="1"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-select
              v-model="selectedCustomer"
              :items="reducedCustomers"
              outlined
              clearable
              label="Customer"
            ></v-select>
          </v-col>
        </v-row>
      </v-flex>
      <template>
        <v-data-table
          :headers="headers"
          :items="finalOrderProductList"
          sort-by="product.name"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-toolbar-title>Select products for this order</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog">
                <v-toolbar
                  flat
                  dark
                  color="orange"
                >
                  <v-btn
                    icon
                    dark
                    @click="dialog = false"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  <v-toolbar-title>Select products and save</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <template v-slot:activator="{ on }">
                  <v-btn color="orange" dark class="mb-2" v-on="on">
                    Select Products
                    <v-icon dark>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <!-- <v-card-title>
                    <span class="headline">Select products</span>
                  </v-card-title> -->
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="searchText"
                          solo
                          label="Search for products"
                          clearable
                          prepend-inner-icon="search"
                          @keyup="searchAndFilterProducts"
                          @click:clear="searchAndFilterProducts"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-select
                          :items="productCategories"
                          label="Category"
                          solo
                          clearable
                          v-model="categoryName"
                          @change="searchAndFilterProducts"
                        ></v-select>
                      </v-col>
                    </v-row>
                    <v-layout class="margin-bottom" row wrap justify-space-around align-md-content-space-around v-if="activeProducts && activeProducts.length>0">
                      <v-flex xs6 sm3 md3 v-for='product in activeProducts' :key='product.id'>
                          <div class="hover-pointer">
                            <order-product-card :product='product' @deleteFromOrderProductList="handleDeleteFromOrderProductList" @updateOrderProductList='handleUpdateOrderProductList'>
                              <v-badge v-if="false"
                                :content="product.id"
                              >
                              </v-badge>
                            </order-product-card>
                          </div>
                      </v-flex>
                    </v-layout>
                    <section class="align-center" v-if="activeProducts && activeProducts.length==0">
                      <p class="headline">No products in the inventory</p>
                      <p class="subtitle-1">add new product</p>
                    </section>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="orange" outlined  @click="saveProductDialog">Save</v-btn>
                    <v-btn outlined @click="closeProductDialog">Cancel</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              class="mr-2"
              @click="removeOrderProduct(item)"
            >
              mdi-delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            <h3>No product has been selected to the order yet..</h3>
          </template>
        </v-data-table>
      </template>
      <v-flex class="margin-bottom margin-top">
        <v-row>
          <v-col v-if="order.id" sm="6">
            <v-select
              v-model="selectedStatus"
              :items="orderStatus"
              outlined
              label="Order Status"
            ></v-select>
          </v-col>
          <v-col class="float-right">
            <v-switch color="orange" v-model="order.is_paid" label="Paid"></v-switch>
          </v-col>
        </v-row>
      </v-flex>
      <v-flex>
        <v-textarea
          outlined
          name="input-7-4"
          label="Notes"
          v-model="order.notes"
        ></v-textarea>
      </v-flex>

      <div id="errorMsgDiv" v-if="orderErrorMessage" class="deep-orange lighten-4 black--text">{{orderErrorMessage}}</div>

      <v-flex v-if="isEditable">
        <v-divider></v-divider>
        <v-layout>
          <v-layout class="justify-start">
            <slot></slot>
          </v-layout>
          <v-layout class="justify-end">
            <v-btn class="ma-2" color="primary" outlined @click="saveOrder()">save</v-btn>
            <v-btn class="ma-2" outlined @click='closePage()'>Close</v-btn>
          </v-layout>
        </v-layout>
      </v-flex>
      <v-flex v-else>
        <v-divider></v-divider>
          <v-layout class="justify-end">
            <v-btn class="ma-2" outlined @click='closePage()'>Close</v-btn>
          </v-layout>
      </v-flex>
    </v-form>
  </v-flex>
</template>

<script>
import { mapGetters } from 'vuex'
import { parameters } from '@/utils/parameters.js'
import OrderProductCard from './OrderProductCard'
export default {
  name: 'OrderForm',
  components: { OrderProductCard },
  props: ['activeProducts', 'title', 'order'],
  data () {
    return {
      valid: true,
      lazy: false,
      tableNumberRules: [
        v => !!v || 'Table number is required',
        v => (v && v.length <= 5) || 'Table number must be less than 5 characters'
      ],
      orderErrorMessage: null,
      parameters: parameters,
      selectedCustomer: (this.order.customer) ? this.order.customer.id : '',
      finalOrderProductList: (this.order.products) ? this.order.products : '',
      orderProductList: (this.order.products) ? this.order.products : '',
      reducedCustomers: [],
      orderNotes: '',
      orderStatus: [],
      selectedStatus: (this.order.status) ? this.order.status.id : '',
      isEditable: true,
      // search product vars
      searchText: '',
      delayedSearch: '',
      // filter product vars
      categoryName: '',
      // Order products table
      dialog: false,
      headers: [
        {
          text: 'Name',
          align: 'start',
          sortable: true,
          value: 'product.name'
        },
        {
          text: 'Quantity',
          align: 'start',
          sortable: true,
          value: 'ordered_quantity'
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0
      },
      defaultItem: {
        name: '',
        calories: 0
      }
    }
  },
  computed: {
    ...mapGetters([
      'productCategories'
    ]),
    fullName: function () {
      return ''
    }
  },

  mounted: function () {
    this.$store.dispatch('getProductCategories')
    this.$store.dispatch('getReducedCustomers').then((response) => {
      this.reducedCustomers = response.data
      this.reducedCustomers.map(function (item) {
        item.text = `${item.first_name} ${item.last_name}`
        item.value = item.id
        return { text: `(${item.country}) ${item.code}`, value: item.id }
      })
    }).catch(error => {
      if (error.response && error.response.status === 401) {
        this.$router.push({ name: 'login' })
      }
    })
    this.$store.dispatch('getOrderStatus').then(response => {
      this.orderStatus = response.data
      this.orderStatus.map(function (item) {
        item.text = parameters.orderStatus[item.value]
        item.value = item.id
        return item
      })
      var selectedStatusObject = response.data.find(item => item.id === this.selectedStatus)
      if (selectedStatusObject) {
        this.isEditable = !(selectedStatusObject.text === 'Completed')
      }
    }).catch(error => {
      if (error.response && error.response.status === 401) {
        this.$router.push({ name: 'login' })
      }
    })
  },
  methods: {
    closePage () {
      this.$router.go(-1)
      window.close()
    },
    searchAndFilterProducts () {
      var categoryName = (this.categoryName) ? this.categoryName : ''
      clearTimeout(this.delayedSearch)
      this.delayedSearch = setTimeout(() => {
        this.$emit('searchAndFilterProducts', { categoryName: categoryName, searchText: this.searchText })
      }, 500)
    },
    removeOrderProduct (orderProduct) {
      var index = this.finalOrderProductList.findIndex(item => item.product.name === orderProduct.product.name)
      this.finalOrderProductList.splice(index, 1)
      this.orderProductList = this.finalOrderProductList
    },
    closeProductDialog () {
      this.dialog = false
    },
    saveProductDialog () {
      this.dialog = false
      this.orderProductList.forEach(orderProduct => {
        var index = this.finalOrderProductList.findIndex(originalOrderProduct => {
          return originalOrderProduct.product.name === orderProduct.product.name
        })
        if (index < 0) {
          this.finalOrderProductList.push(orderProduct)
        } else if (index >= 0) {
          this.$set(this.finalOrderProductList, index, orderProduct)
        }
      })
      this.orderProductList = this.finalOrderProductList
    },
    handleUpdateOrderProductList (updatedProduct) {
      this.orderProductList = this.orderProductList.filter(function (item) {
        return item.product.name !== updatedProduct.name
      })
      this.orderProductList.push(
        {
          product: updatedProduct,
          ordered_quantity: updatedProduct.ordered_quantity
        }
      )
    },
    handleDeleteFromOrderProductList (deletedProduct) {
      this.orderProductList = this.orderProductList.filter(function (item) {
        return item.product.name !== deletedProduct.name
      })
      this.finalOrderProductList = this.finalOrderProductList.filter(function (item) {
        return item.product.name !== deletedProduct.name
      })
    },
    saveOrder () {
      this.$refs.form.validate()
      if (this.valid) {
        if (this.finalOrderProductList.length === 0) {
          this.orderErrorMessage = 'Select at least one product for the order!'
        } else {
          let orderPayload = this.order
          orderPayload['products'] = this.finalOrderProductList
          delete orderPayload['customer']
          if (typeof this.selectedCustomer === 'number') {
            orderPayload['customer'] = {
              id: this.selectedCustomer
            }
          }
          if (typeof this.selectedStatus === 'number') {
            orderPayload['status'] = {
              id: this.selectedStatus
            }
          }
          this.$emit('saveOrder', orderPayload)
        }
      } else {
        this.orderErrorMessage = 'Fill in the required details above!'
      }
    }
  }
}
</script>

<style scoped>
 .margins {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
 }
 .margin-bottom {
   margin-bottom: 20px;
 }
 .margin-top {
   margin-bottom: 20px;
 }
  #errorMsgDiv{
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px
  }
</style>
