<template>
  <v-data-table
    :headers="headers"
    :items="reformattedActiveOrders"
    item-key="table"
  >
    <template v-slot:no-data>
      <div class="overline">
        <p class="text-center orange--text">No orders on the queue..</p>
      </div>
    </template>
    <template v-slot:item.status="{ item }">
      <v-chip>
          {{ parameters.orderStatus[item.status] || item.status }}
        </v-chip>
    </template>
    <template v-slot:item.paid="{ item }">
      <v-icon color="grey darken-3" small v-if="item.paid">mdi-check</v-icon>
      <v-icon color="grey darken-3" small v-else>mdi-cancel</v-icon>
    </template>
    <template v-slot:item.table="{ item }">
      <v-btn color="primary" text @click="navigateToOrder(item)">Table {{item.table}}</v-btn>
    </template>
    <template v-slot:item.created="{ item }">
      <span>{{ item.created | moment("calendar") }}</span>
    </template>
    <!-- <template v-slot:item.last_modified="{ item }">
      <span>{{ item.last_modified | moment("calendar") }}</span>
    </template> -->
    <template v-slot:item.total_amount="{ item }">
      <span>₦ {{ Number(item.total_amount).toLocaleString('us-US') }}</span>
    </template>
  </v-data-table>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import { parameters } from '@/utils/parameters.js'

export default {
  name: 'OrderDataTable',
  props: ['activeOrders'],
  data: () => ({
    parameters: parameters,
    reformattedActiveOrders: [],
    headers: [
      {
        text: 'Table',
        align: 'start',
        sortable: true,
        value: 'table'
      },
      {
        text: 'Status',
        value: 'status'
      },
      {
        text: 'Paid',
        value: 'paid'
      },
      {
        text: 'Created',
        value: 'created'
      },
      // {
      //   text: 'Updated',
      //   value: 'last_modified'
      // },
      {
        text: 'Total',
        value: 'total_amount'
      }
    ]
  }),

  computed: {
    ...mapGetters([
    ])
  },

  watch: {
  },

  mounted () {
    this.initialize()
  },

  methods: {
    navigateToOrder (order) {
      this.$router.push(`/orders/${order.id}`)
    },
    initialize () {
      this.$store.dispatch('getOrderStatus').then(response => {
        this.orderStatus = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.reformattedActiveOrders = this.activeOrders.map(order => {
        order.statusClass = order.status.value
        order.status = parameters.orderStatus[order.status.value]
        order.paid = order.is_paid
        return order
      })
    }
  }
}
</script>

<style>
  .hover-pointer:hover {
    cursor: pointer;
  }
  .open.theme--light.v-chip:not(.v-chip--active) {
    background: orange;
  }
  .processing.theme--light.v-chip:not(.v-chip--active) {
    background: #1E88E5;
  }
  .ready.theme--light.v-chip:not(.v-chip--active) {
    background: #43A047;
  }
  .served.theme--light.v-chip:not(.v-chip--active) {
    background: #5E35B1;
  }
  .awaitingPayment.theme--light.v-chip:not(.v-chip--active) {
    background: #E53935;
  }
  .completed.theme--light.v-chip:not(.v-chip--active) {
    background: #FFD600;
  }
  .cancelled.theme--light.v-chip:not(.v-chip--active) {
    background: #546E7A;
  }
  .archived.theme--light.v-chip:not(.v-chip--active) {
    background: #424242;
  }
  .margins {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .margin-top {
    margin-top: 5px;
  }
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
    }
</style>
