<template>
  <v-toolbar flat color="white">
    <v-toolbar-title>{{toolbarTitle}}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn class="mb-2" @click="initialize">
      <span>Refresh</span>
      <v-icon dark>mdi-autorenew</v-icon>
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn color="orange" dark class="mb-2" @click="navigateToNewOrder">
      <span>New Order</span>
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  name: 'OrderToolbar',
  props: ['toolbarTitle'],
  methods: {
    navigateToNewOrder () {
      this.$router.push(`/orders/create`)
    },
    initialize () {
      this.$emit('initialize')
    }
  }
}
</script>

<style>
</style>
