<template>
  <div>
    <template>
      <v-row>
        <v-col cols="12" sm="4" md="4">
          <v-text-field
            v-model="searchText"
            solo
            label="Search for products"
            clearable
            prepend-inner-icon="search"
            @keyup="searchProducts"
            @click:clear="searchProducts"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4" md="4">
          <v-select
            :items="productCategories"
            label="Category"
            solo
            clearable
            v-model="categoryName"
            @change="filterProductByCategory"
          ></v-select>
        </v-col>
        <v-col cols="12" sm="4" md="4">
          <v-btn class="float-right" @click="navigateToNewProduct">
            <span>New Product</span>
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </template>
    <v-layout row wrap justify-space-around align-md-content-space-around>
      <v-flex xs6 sm3 v-for='product in activeProducts' :key='product.id'>
        <div @click="navigateToProduct(product.id)" class="hover-pointer">
          <product-card :product='product'/>
        </div>
      </v-flex>
    </v-layout>
    <section v-if="activeProducts.length<=0">
      <div class="overline">
        <p class="text-center orange--text">No products in the inventory</p>
        <p class="text-center orange--text">Add new product</p>
      </div>
    </section>
    <template>
      <div class="text-center">
        <v-pagination
          v-model="pageInPagination"
          :length="productPaginationNumber"
          prev-icon="mdi-menu-left"
          next-icon="mdi-menu-right"
          color="orange"
          @next="goToNextPage"
          @previous="goToPreviousPage"
          @input="goToAPageNumber"
        ></v-pagination>
      </div>
    </template>
  </div>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import ProductCard from '../components/ProductCard'
export default {
  name: 'AllProductsView',
  computed: {
    ...mapGetters([
      'productPaginationNumber', 'productCategories'
    ])
  },
  mounted: function () {
    this.$store.dispatch('getProducts').then(response => {
      this.$store.dispatch('setProductStates', response.data)
      this.activeProducts = response.data.results
    }).catch(error => {
      if (error.response && error.response.status === 401) {
        this.$router.push({ name: 'login' })
      }
    })
    this.$store.dispatch('getProductCategories')
  },
  components: {
    ProductCard
  },
  data () {
    return {
      activeProducts: [],
      pageInPagination: 1,
      // search vars
      searchText: '',
      delayedSearch: '',
      // filter vars
      categoryName: ''
    }
  },
  methods: {
    goToNextPage () {
      this.$store.dispatch('getProducts', { pagination: 'next' }).then(response => {
        this.$store.dispatch('setProductStates', response.data)
        this.activeProducts = response.data.results
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    goToPreviousPage () {
      this.$store.dispatch('getProducts', { pagination: 'previous' }).then(response => {
        this.$store.dispatch('setProductStates', response.data)
        this.activeProducts = response.data.results
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    goToAPageNumber (pageNumber) {
      var categoryName = (this.categoryName) ? this.categoryName : ''
      this.$store.dispatch('getProducts', { categoryName: categoryName, searchText: this.searchText, pageNumber: pageNumber }).then(response => {
        this.$store.dispatch('setProductStates', response.data)
        this.activeProducts = response.data.results
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    filterProductByCategory () {
      var categoryName = (this.categoryName) ? this.categoryName : ''
      this.$store.dispatch('getProducts', { categoryName: categoryName, searchText: this.searchText }).then(response => {
        this.$store.dispatch('setProductStates', response.data)
        this.activeProducts = response.data.results
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    searchProducts () {
      var categoryName = (this.categoryName) ? this.categoryName : ''
      clearTimeout(this.delayedSearch)
      this.delayedSearch = setTimeout(() => {
        this.$store.dispatch('getProducts', { categoryName: categoryName, searchText: this.searchText }).then(response => {
          this.$store.dispatch('setProductStates', response.data)
          this.activeProducts = response.data.results
        }).catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          }
        })
      }, 500)
    },
    navigateToProduct (id) {
      this.$router.push(`/products/${id}`)
    },
    navigateToNewProduct () {
      this.$router.push(`/products/create`)
    }
  }
}
</script>

<style>
  .hover-pointer:hover {
    cursor: pointer;
  }
  .new-btn {
    height: 100px;
    margin-right: 10px;
  }
  .align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 50vh; */
  }
</style>
