<template>
  <v-layout>
    <product-form :loadedProduct="loadedProduct" @saveProduct="handleSaveProduct" />
    <div class="progress">
      <v-progress-circular
        :size="150"
        color="orange"
        indeterminate
        v-if="loadingCirle"
      ></v-progress-circular>
    </div>
    <v-snackbar
        @input='afterNotificationAction()'
        v-model='snackbar'
        :bottom='true'
        :color='snackbarColor'
        :left='true'
        :multi-line='true'
        :timeout='3000'
    >
        {{ snackbarText }}
        <v-btn
            dark
            text
            @click="afterNotificationAction()"
        >
            Close
        </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import ProductForm from '../components/ProductForm'
export default {
  name: 'CreateProductView',
  components: { ProductForm },
  data () {
    return {
      loadedProduct: {
        name: '',
        unit_price: '',
        quantity_in_stock: '',
        image: null,
        category: { id: '', name: '' }
      },
      productId: null,
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      loadingCirle: null,
      createStatus: false
    }
  },
  methods: {
    afterNotificationAction () {
      this.snackbar = false
      if (this.createStatus === true) {
        this.$router.push({ name: 'products' })
      }
    },
    handleSaveProduct (newProduct) {
      this.loadingCirle = true
      this.$store.dispatch('createAProduct', newProduct).then((response) => {
        this.loadingCirle = false
        this.snackbarText = 'Product creates successfully!'
        this.snackbar = true
        this.snackbarColor = 'success'
        this.productId = response.data.id
        this.createStatus = true
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          } else {
            this.loadingCirle = false
            this.snackbarText = `Product creation was unsuccessfully!`
            if (error.response.data.non_field_errors && error.response.data.non_field_errors[0].includes('unique set')) {
              this.snackbarText = this.snackbarText + ` The name ${newProduct.get('name')} already exist for another product. Enter a different name`
            }
            this.snackbar = true
            this.snackbarColor = 'error'
          }
        })
    }
  }
}
</script>

<style scoped>
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
</style>
