<template>
  <v-layout row wrap justify-space-around align-md-content-space-around>
    <v-flex xs12 md6>
      <v-container>
        <v-row>
          <v-col>
            <v-text-field
              label="First Name"
              outlined
              v-model="user.first_name"
              disabled
            ></v-text-field>
          </v-col>
          <v-col>
            <v-text-field
              label="Last Name"
              outlined
              v-model="user.last_name"
              disabled
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              label="Department"
              outlined
              v-model="user.department.name"
              disabled
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              label="Email"
              outlined
              v-model="user.email"
              disabled
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
      <v-divider class="mx-4"></v-divider>
      <v-card-actions>
        <v-spacer/>
        <v-btn class="ma-2" outlined @click="$router.go(-1)">Close</v-btn>
      </v-card-actions>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'UserForm',
  props: ['user'],
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>
