<template>
  <div>
    <v-flex class="new-btn" xs12>
      <v-btn class="float-right" @click="navigateToRegisterUser">
        <span>New User</span>
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </v-flex>
    <v-layout row wrap justify-space-around align-md-content-space-around v-if="users.length>0">
      <v-flex xs6 md3 v-for='user in users' :key='user.id'>
        <div @click="navigateToUser(user.id)" class="hover-pointer">
          <user-card :user='user'/>
        </div>
      </v-flex>
    </v-layout>
    <section v-if="users.length==0||!users">
      <div class="overline">
        <p class="text-center orange--text">users in the database</p>
        <p class="text-center orange--text">Add new user</p>
      </div>
    </section>
  </div>
</template>

<script>
import {
  mapGetters,
  mapActions
} from 'vuex'
import UserCard from '../components/UserCard'
export default {
  name: 'AllUsersView',
  computed: {
    ...mapGetters([
      'users'
    ])
  },
  mounted: function () {
    this.$store.dispatch('getUsers')
  },
  components: {
    UserCard
  },
  data () {
    return {
    }
  },
  methods: {
    ...mapActions([
    ]),
    navigateToUser (id) {
      this.$router.push(`/users/${id}`)
    },
    navigateToRegisterUser () {
      this.$router.push(`/register`)
    }
  }
}
</script>

<style>
  .hover-pointer:hover {
    cursor: pointer;
  }
  .new-btn {
    height: 100px;
    margin-right: 10px;
  }
  .align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 50vh; */
  }
</style>
