<template>
  <v-layout>
    <user-form :user="user"/>
    <div class="progress">
      <v-progress-circular
        :size="150"
        color="primary"
        indeterminate
        v-if="loadingCirle"
      ></v-progress-circular>
    </div>
    <v-snackbar
        @input='afterNotificationAction()'
        v-model='snackbar'
        :bottom='true'
        :color='snackbarColor'
        :left='true'
        :multi-line='true'
        :timeout='1000'
    >
        {{ snackbarText }}
        <v-btn
            dark
            text
            @click="afterNotificationAction()"
        >
          Close
        </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import UserForm from '../components/UserForm'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'AUserView',
  components: { UserForm },
  data () {
    return {
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      loadingCirle: null,
      saveStatus: false
    }
  },
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  methods: {
    afterNotificationAction () {
      this.snackbar = false
      // if (this.saveStatus === true) {
      //   this.$router.push({ name: 'product', params: { id: this.productId } })
      // }
    }
  }
}
</script>

<style scoped>
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
</style>
