<template>
  <v-app>
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card  id="login-form" class="elevation-12">
              <v-card-title>
                <v-spacer/>
                <span class="bauhaus lighten-2 orange--text">OrderDash</span>
                <v-spacer/>
              </v-card-title>
              <v-card-text>
                <v-form
                  ref="form"
                  v-model="valid"
                  :lazy-validation="lazy"
                >
                  <v-text-field
                    v-model="username"
                    :rules="usernameRules"
                    required
                    label="Username"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :rules="passwordRules"
                    label="Password"
                    type="password"
                    required
                  ></v-text-field>
                  <div id="errorMsgDiv" v-if="loginErrorMessage" class="deep-orange lighten-4 black--text">{{loginErrorMessage}}</div>
                  <v-btn
                    color="orange"
                    dark
                    @click="login"
                  >
                    Login
                  </v-btn>

                  <div class="progress">
                    <v-progress-circular
                      :size="150"
                      color="orange"
                      indeterminate
                      v-if="loadingCirle"
                    ></v-progress-circular>
                  </div>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'LoginView',
  components: {},
  data () {
    return {
      valid: true,
      username: '',
      usernameRules: [
        v => !!v || 'Username is required'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required'
      ],
      lazy: false,
      loginErrorMessage: null,
      loadingCirle: null
    }
  },
  methods: {
    login () {
      this.$refs.form.validate()
      if (this.valid) {
        this.loadingCirle = true
        let payload = {
          username: this.username,
          password: this.password
        }
        this.$store.dispatch('login', payload)
          .then(response => {
            this.loadingCirle = false
            this.$store.dispatch('setJWT', response.data.access)
            this.$store.dispatch('setJWTRefresh', response.data.refresh)
            this.$store.dispatch('getAuthenticatedUser')
              .then(response2 => {
                this.$store.dispatch('setUser', response2.data)
                this.$router.push('/')
              })
              .catch(() => {
                this.loadingCirle = false
                this.loginErrorMessage = 'The username or password is not correct.'
              })
          })
          .catch(() => {
            this.loadingCirle = false
            this.loginErrorMessage = 'The username or password is not correct.'
          })
      }
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    }
  }
}
</script>

<style scoped>
#login-form {
  padding: 20px;
}
#errorMsgDiv{
  border-radius: 4px;
  margin-bottom: 15px;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
</style>
