<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'AProductView',
  components: { },
  mounted: function () {
  },
  watch: {
    '$route' (to, from) {
      this.id = to.params.id
      this.action = to.params.action
    }
  },
  computed: {
    ...mapGetters([
      'loadedProduct'
    ])
  },
  data () {
    return {
      id: null,
      action: null
    }
  }
}
</script>

<style>
  .product-details {
      padding-left: 10px;
  }
  .align-center{
    margin: 0 auto;
  }
</style>
