<template>
  <div>
    <v-flex class="new-btn" xs12>
      <v-btn class="float-right" @click="navigateToNewOrder">
        <span>New Order</span>
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
      <v-btn class="float-left" @click="initialize">
        <span>Refresh</span>
        <v-icon dark>mdi-autorenew</v-icon>
      </v-btn>
    </v-flex>
    <v-card>
      <v-tabs
        v-if="activeOrders"
        v-model="tab"
        background-color="white"
        centered
        color="orange"
        light
        icons-and-text
      >
        <v-tabs-slider></v-tabs-slider>
        <v-tab href="#tab-1">
          <v-badge
            color="orange"
            :value="activeOrdersActive.length"
            :content="activeOrdersActive.length"
          >
            Active
          </v-badge>
        </v-tab>
        <v-tab href="#tab-2">
          <v-badge
            color="orange"
            :value="activeOrdersProgress.length"
            :content="activeOrdersProgress.length"
          >
            In Progress
          </v-badge>
        </v-tab>
        <v-tab href="#tab-3">
          <v-badge
            color="orange"
            :value="0"
            :content="0"
          >
            Completed
          </v-badge>
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item
          value="tab-1"
        >
          <div class="padding">
            <v-row justify="space-around" v-if="activeOrders.length>0">
              <v-col sm="6" md="4" lg="3" cols="auto" v-for='order in activeOrdersActive' :key='order.id'>
                <order-card :order="order" :orderStatus="orderStatus" @chargeCustomer="handleChargeCustomer" @changeOrderStatus="handleChangeOrderStatus" @updateOrderIsPaid="handleUpdateOrderIsPaid"/>
              </v-col>
            </v-row>
            <section class="align-center" v-if="activeOrdersActive.length==0||!activeOrdersActive">
              <div class="overline">
                <p class="text-center orange--text">No orders on the queue..</p>
              </div>
            </section>
          </div>
        </v-tab-item>
      </v-tabs-items>
      <v-tabs-items v-model="tab">
        <v-tab-item
          value="tab-2"
        >
          <div class="padding">
            <v-row justify="space-around" v-if="activeOrdersProgress.length>0">
              <v-col sm="6" md="4" lg="3" cols="auto" v-for='order in activeOrdersProgress' :key='order.id'>
                <order-card :order="order" :orderStatus="orderStatus" @chargeCustomer="handleChargeCustomer" @changeOrderStatus="handleChangeOrderStatus" @updateOrderIsPaid="handleUpdateOrderIsPaid"/>
              </v-col>
            </v-row>
            <section class="align-center" v-if="activeOrdersProgress.length==0||!activeOrdersProgress">
              <div class="overline">
                <p class="text-center orange--text">No orders on the queue..</p>
              </div>
            </section>
          </div>
        </v-tab-item>
      </v-tabs-items>
      <v-tabs-items v-model="tab">
        <v-tab-item
          value="tab-3"
        >
          <div class="padding">
            <order-data-table  :activeOrders="activeOrdersCompleted"></order-data-table>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
    <v-snackbar
      v-model="snackbar"
      :timeout="snackbarTimeout"
      :bottom="true"
      :color="snackbarcolor"
      :left="true"
    >
      {{ snackbarText }}
      <v-btn
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {
  mapGetters,
  mapActions
} from 'vuex'
import OrderCard from '@/order/components/OrderCard'
import OrderDataTable from '@/order/components/OrderDataTable'
export default {
  name: 'DashboardView',
  components: { OrderDataTable, OrderCard },
  computed: {
    ...mapGetters([
      'activeOrders'
    ]),
    activeOrdersActive () {
      var activeStatus = ['open', 'processing', 'ready']
      var filteredArray = []
      if (this.activeOrders.length >= 0) {
        filteredArray = this.activeOrders.filter(myCallBack)
      }
      function myCallBack (el) {
        return !(activeStatus.indexOf(el.status.value) < 0)
      }
      return filteredArray
    },
    activeOrdersProgress () {
      var inProgressStatus = ['served', 'awaitingPayment']
      var filteredArray = []
      if (this.activeOrders.length >= 0) {
        filteredArray = this.activeOrders.filter(myCallBack)
      }
      function myCallBack (el) {
        return !(inProgressStatus.indexOf(el.status.value) < 0)
      }
      return filteredArray
    },
    activeOrdersCompleted () {
      var filteredArray = []
      if (this.activeOrders.length >= 0) {
        filteredArray = this.activeOrders.filter(item => item.status.value === 'completed')
      }
      return filteredArray
    }
  },
  mounted: function () {
    this.initialize()
  },
  data () {
    return {
      tabTitles: ['Active', 'Progress', 'Completed'],
      tab: null,
      snackbar: false,
      snackbarText: '',
      snackbarTimeout: 2000,
      snackbarcolor: 'red',
      orderStatus: []
    }
  },
  methods: {
    ...mapActions([
    ]),
    initialize () {
      this.$store.dispatch('getRecentOrders')
      this.$store.dispatch('getOrderStatus').then(response => {
        this.orderStatus = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    navigateToOrder (id) {
      this.$router.push(`/orders/${id}`)
    },
    navigateToNewOrder () {
      this.$router.push(`/orders/create`)
    },
    handleChangeOrderStatus (payload) {
      var order = this.activeOrders.find(item => item.id === payload.id)
      if (payload.status.value === 'completed' && !order.is_paid) {
        this.snackbar = true
        this.snackbarText = `You cannot Complete an Unpaid order!`
        this.snackbarTimeout = 2000
      } else {
        this.$store.dispatch('changeOrderStatus', payload).then((response) => {
          this.$store.dispatch('getRecentOrders')
        }).catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          }
          if (error.response && error.response.status === 400) {
            this.snackbar = true
            this.snackbarText = `You cannot Complete an Unpaid order!`
            this.snackbarTimeout = 2000
          }
        })
      }
    },
    handleUpdateOrderIsPaid (payload) {
      this.$store.dispatch('updateAnOrder', payload).then(() => {
        this.$store.dispatch('getRecentOrders')
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          }
        })
    },
    handleChargeCustomer (payload) {
      this.$store.dispatch('chargeCustomer', payload).then(() => {
        this.$store.dispatch('getRecentOrders')
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          }
        })
    }
  }
}
</script>

<style>
  .new-btn {
    height: 100px;
    margin-right: 10px;
  }
  .padding {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 50vh; */
  }
</style>
