<template>
    <v-card flat class="paddingsLeftRight">
      <v-card-text class="font-weight-regular">
        <h3>{{formTitle}}</h3>
      </v-card-text>
      <v-container>
        <v-row>
          <v-col sm="3">
            <v-text-field
            label="House"
            color="orange"
            v-model="addressObject.house"
            ></v-text-field>
          </v-col>
          <v-col sm="9">
            <v-text-field
            label="Street"
            color="orange"
            v-model="addressObject.street"
            ></v-text-field>
          </v-col>
          <v-col sm="12">
            <v-text-field
            label="District"
            color="orange"
            v-model="addressObject.district"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col sm="4">
            <v-text-field
            label="Zip Code"
            color="orange"
            v-model="addressObject.zip_code"
            ></v-text-field>
          </v-col>
          <v-col sm="4">
            <v-text-field
              label="City"
              v-model="addressObject.city"
              color="orange"
            ></v-text-field>
          </v-col>
          <v-col sm="4">
            <v-select
              :items="countries"
              label="Country"
              v-model="selectedCountry"
              color="orange"
            ></v-select>
              <!-- :rules="[v => !!v || 'Item is required']" -->
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-btn class="ma-2" color="red" outlined @click="$emit('delete')">Delete</v-btn>
        <v-spacer/>
        <v-btn class="ma-2" color="orange" outlined @click="saveCustomerAddress">Save</v-btn>
        <v-btn class="ma-2" outlined @click="$emit('closeForm')">Close</v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
export default {
  name: 'CustomerAddressForm',
  components: { },
  props: ['formTitle', 'countries', 'addressObject'],
  data () {
    return {
      selectedCountry: ''
    }
  },
  watch: {
    addressObject: function (newObject, oldObject) {
      var countryObj = (newObject.country) ? this.countries.find(item => item.text === newObject.country) : ''
      this.selectedCountry = countryObj ? countryObj.value : ''
    }
  },
  mounted: function () {
    var countryObj = (this.addressObject.country) ? this.countries.find(item => item.text === this.addressObject.country) : ''
    this.selectedCountry = countryObj ? countryObj.value : ''
  },
  methods: {
    saveCustomerAddress () {
      this.addressObject.country = this.countries.find(item => item.value === this.selectedCountry).text
      this.$emit('saveCustomerAddress', this.addressObject)
    }
  }
}
</script>

<style scoped>
.paddingsLeftRight {
   padding-left: 10px;
   padding-right: 10px;
 }
.margins {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
 }
</style>
