<template>
  <v-card
    max-width="300"
    tile
  >
    <v-list rounded>
      <v-subheader>REPORTS</v-subheader>
      <v-list-item-group v-model="item" color="primary">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
  <!-- <v-card
    height="400"
    class="overflow-hidden"
  > -->
    <!-- <v-navigation-drawer
      v-model="drawer"
      color="white"
      :expand-on-hover="expandOnHover"
      :mini-variant="miniVariant"
      :permanent="permanent"
      :src="bg"
      absolute
      light
    >
      <v-list
        dense
        nav
        class="py-0"
      >
        <v-list-item two-line :class="miniVariant && 'px-0'">
          <v-list-item-avatar color="orange">
            <v-spacer/><span class="white--text">{{loadedCustomer.first_name[0]}}{{loadedCustomer.last_name[0]}}</span><v-spacer/>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{loadedCustomer.title.value}} {{loadedCustomer.first_name}} {{loadedCustomer.last_name}}</v-list-item-title>
            <v-list-item-subtitle>Since {{ loadedCustomer.created | moment("MMM Do YYYY") }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="item in drawerItems"
          :key="item.title"
          link
        >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->
  <!-- </v-card> -->
</template>

<script>
export default {
  name: 'CustomerNavigationDrawer',
  components: {},
  props: ['loadedCustomer'],
  mounted: function () {
  },
  data () {
    return {
      drawer: true,
      drawerItems: [
        { title: 'Account', icon: 'mdi-credit-card-outline' },
        { title: 'Orders', icon: 'mdi-food' },
        { title: 'Details', icon: 'mdi-card-account-details-outline' },
        { title: 'Address book', icon: 'mdi-home-outline' }
      ],
      // list
      item: 1,
      items: [
        { text: 'Real-Time', icon: 'mdi-clock' },
        { text: 'Audience', icon: 'mdi-account' },
        { text: 'Conversions', icon: 'mdi-flag' }
      ]
    }
  }
}
</script>
