<template>
<div>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="500">
      <template v-slot:activator="{ on }">
        <v-spacer></v-spacer>
        <v-btn color="orange" dark v-on="on" class="addNewBtn">
          <span>Add New Address</span>
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
      </template>
      <v-card>
        <customer-address-form
          :formTitle="formTitle"
          :countries="countries"
          :addressObject="addressObject"
          @closeForm="handleCloseForm"
          @saveCustomerAddress="handleSaveCustomerAddress"
        >
        </customer-address-form>
      </v-card>
    </v-dialog>
  </v-row>
  <v-row>
    <v-col cols="12" sm="4" xs="12" v-for="(customerAddress, index) in addresses" :key="index">
      <v-card
        max-width="350"
      >
        <v-card-text>
          <div class="text--primary">
            <p>{{customerAddress.address.house}} {{customerAddress.address.street}}</p>
            <p>{{customerAddress.address.district}} {{customerAddress.address.city}}, {{ parameters.countries[customerAddress.address.country] || customerAddress.address.country }}</p>
          </div>
          <p>Added:  {{customerAddress.address.created  | moment("calendar") }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn icon @click="handleDeleteCustomerAddress(customerAddress)"><v-icon>mdi-delete</v-icon></v-btn>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="orange"
            outlined
            @click="openEditAddressDialog(customerAddress.address)"
          >
            Edit
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</div>
</template>

<script>
import { parameters } from '@/utils/parameters.js'
import CustomerAddressForm from './CustomerAddressForm'
export default {
  name: 'CustomerAddressDisplay',
  props: ['addresses', 'customer', 'countries'],
  components: { CustomerAddressForm },
  mounted: function () {
  },
  data () {
    return {
      dialog: false,
      parameters: parameters,
      formTitle: 'Add New Address',
      // address empty obj var
      addressObject: {
        country: '',
        house: '',
        street: '',
        city: '',
        zip_code: ''
      }
    }
  },
  methods: {
    openEditAddressDialog (address) {
      this.dialog = true
      this.addressObject = address
    },
    editAddress (payload) {
      this.dialog = false
      this.addressObject = {
        country: '',
        house: '',
        street: '',
        city: '',
        zip_code: ''
      }
    },
    handleSaveCustomerAddress (payload) {
      this.dialog = false
      if (payload.id) {
        this.$emit('updateCustomerAddress', payload)
      } else {
        this.$emit('saveNewCustomerAddress', payload)
      }
    },
    handleDeleteCustomerAddress (payload) {
      this.$emit('deleteCustomerAddress', payload)
    },
    handleCloseForm () {
      this.dialog = false
      this.addressObject = {
        country: '',
        house: '',
        street: '',
        city: '',
        zip_code: ''
      }
    }
  }
}
</script>

<style scoped>
  .addNewBtn {
    margin-right: 15px;
  }
</style>
