<template>
  <div>
    <v-row justify="space-around">
      <v-col cols="auto" sm="6">
        <div>
          <v-card flat>
            <v-container>
              <v-row>
                <v-col md="6">
                  <v-select
                    :items="nameTitles"
                    label="Title"
                    v-model="nameTitle"
                    color="orange"
                  ></v-select>
                </v-col>
                <v-col md="6">
                  <v-text-field
                  label="First Name"
                  color="orange"
                  v-model="customer.first_name"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    label="Last Name"
                    v-model="customer.last_name"
                    color="orange"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    label="Email"
                    v-model="customer.email"
                    color="orange"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-textarea
                    v-model="customer.notes"
                    auto-grow
                    label="Notes"
                    rows="1"
                    color="orange"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
            <v-card-actions>
              <v-spacer/>
              <v-btn class="ma-2" color="orange" outlined @click="saveCustomer">Save</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-col>
      <v-col cols="auto" sm="6" v-if="customer.id">
        <div>
          <v-card flat>
            <v-card-text class="font-weight-regular">
              <h3>Phone Numbers</h3>
              <v-form
                ref="newPhoneNumberForm"
                v-model="addPhoneFormValid"
                lazy-validation
              >
                <div>
                  <v-row>
                    <v-col md="4">
                      <v-select
                        :items="countryCodes"
                        label="Country code"
                        v-model="newPhoneNumberCodeID"
                        color="orange"
                        :rules="[v => !!v || 'Item is required']"
                      ></v-select>
                    </v-col>
                    <v-col sm="8">
                      <v-text-field
                        v-model="newPhoneNumberValue"
                        :counter="11"
                        :rules="newPhoneNumberRules"
                        label="Phone Number"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn
                        class="float-right"
                        :disabled="!addPhoneFormValid"
                        color="orange"
                        outlined
                        @click="addCustomerPhoneNumber"
                      >
                        Add
                      </v-btn>
                    </v-col>
                  </v-row>
                </div>
              </v-form>
              <v-container v-if="customerPhoneNumbers && customerPhoneNumbers.length>0">
                <v-chip
                  v-for="(customerPhoneNumber, index) in customerPhoneNumbers"
                  :key="index"
                  class="ma-2"
                  close
                  color="grey darken-3"
                  outlined
                  @click:close="deleteCustomerPhoneNumber(customerPhoneNumber)"
                >
                  <span><span>({{customerPhoneNumber['phone_number']['country_code']['code']}})</span> {{customerPhoneNumber['phone_number']['value']}}</span>
                </v-chip>
              </v-container>
              <div class="overline" v-else>
                <p class="text-center orange--text">No phone numbers in record..</p>
              </div>
            </v-card-text>
            <v-divider/>
          </v-card>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'CustomerForm',
  components: { },
  props: ['customer', 'nameTitles', 'nameTitlesWithID', 'customerPhoneNumbers', 'countryCodes'],
  data () {
    return {
      nameTitle: this.customer.title ? this.customer.title.value : '',
      newPhoneNumberValue: '',
      newPhoneNumberCodeID: '',
      addPhoneFormValid: false,
      newPhoneNumberRules: [
        v => !!v || 'Phone number is required',
        v => (v && v.length <= 11) || 'Phone number must be less than 11 characters',
        v => (v && !(isNaN(v))) || 'Phone number must only be numbers'
      ]
    }
  },
  computed: {
  },
  mounted: function () {
  },
  methods: {
    newPhoneNumberFormValidate () {
      this.$refs.newPhoneNumberForm.validate()
    },
    newPhoneNumberFormReset () {
      this.$refs.newPhoneNumberForm.reset()
    },
    newPhoneNumberFormResetValidation () {
      this.$refs.newPhoneNumberForm.resetValidation()
    },
    saveCustomer () {
      this.customer.title = this.nameTitlesWithID.find(item => item.value === this.nameTitle)
      this.$emit('saveCustomer', this.customer)
    },
    deleteCustomerPhoneNumber (customerPhoneNumber) {
      customerPhoneNumber.customer = this.customer
      this.$emit('deleteCustomerPhoneNumber', customerPhoneNumber)
    },
    addCustomerPhoneNumber () {
      if (this.newPhoneNumberValue === '') {
        this.$refs.newPhoneNumberForm.validate()
      } else {
        var customerPhoneNumber = {
          customer: this.customer,
          phone_number: {
            value: this.newPhoneNumberValue,
            country_code: {
              id: this.newPhoneNumberCodeID
            }
          }
        }
        this.$emit('addCustomerPhoneNumber', customerPhoneNumber)
        this.$refs.newPhoneNumberForm.reset()
      }
    }
  }
}
</script>

<style scoped>
.paddingsLeftRight {
   padding-left: 10px;
   padding-right: 10px;
 }
.margins {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
 }
</style>
