<template>
  <div>
    <v-card>
      <v-toolbar flat color="white">
        <v-spacer></v-spacer>
        <v-avatar class="rightMargin d-none d-print-block" color="orange">
          <img
            src="@/assets/theSpotCafeLogo.jpg"
            alt="Spot Cafe"
          >
        </v-avatar>
        <v-toolbar-title class="orange--text">Product Summaries</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-row justify="space-around">
        <v-card flat>
          <v-container>
            <v-row>
              <v-col md="6">
                <v-menu
                  ref="statementStartDateMenu"
                  v-model="statementStartDateMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="statementStartDateFormatted"
                      label="Start Date"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      outlined
                      append-icon="event"
                      @blur="statementStartDate = parseDate(statementStartDateFormatted)"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="statementStartDate" no-title @input="statementStartDateMenu = false"></v-date-picker>
                </v-menu>
              </v-col>
              <v-col md="6">
                <v-menu
                  ref="statementEndDateMenu"
                  v-model="statementEndDateMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="statementEndDateFormatted"
                      label="End Date"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      outlined
                      append-icon="event"
                      @blur="statementEndDate = parseDate(statementEndDateFormatted)"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker :min="statementStartDate" v-model="statementEndDate" no-title @input="statementEndDateMenu = false"></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  :items="productCategories"
                  label="Product Categories"
                  dense
                  outlined
                  v-model="selectedProductCategory"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions class="d-print-none">
            <!-- <template v-if="filteredProducts.length>0">
              <v-btn outlined class="ma-2" color="grey darken-2" onclick="window.print()">
                Print
                <v-icon>mdi-printer</v-icon>
              </v-btn>
            </template> -->
            <v-spacer/>
            <v-btn class="ma-2" color="orange" outlined @click="getfilteredProducts">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-row>
      <v-divider></v-divider>
      <v-data-table
        :headers="headers"
        :items="filteredProducts"
        item-key="table"
        :sort-by="['total_ordered_quantity']"
        :sort-desc="[true]"
      >
        <template v-slot:no-data>
          <div class="overline">
            <p class="text-center orange--text">No products sold in this time range..</p>
          </div>
        </template>
        <template v-slot:item.quantity_in_stock="{ item }">
          <v-chip>
            {{ item.quantity_in_stock }}
          </v-chip>
        </template>
        <template v-slot:item.total_ordered_quantity="{ item }">
          <v-chip>
            {{ item.total_ordered_quantity }}
          </v-chip>
        </template>
        <template v-slot:item.total_ordered_amount="{ item }">
          <v-chip>
            ₦ {{Number(item.total_ordered_amount).toLocaleString('us-US')}}
          </v-chip>
        </template>
      </v-data-table>

      <v-toolbar flat color="white" v-if="filteredProducts.length>0">
        <v-spacer></v-spacer>
        <p>Total Amount: ₦ {{Number(total_ordered_amount).toLocaleString('us-US')}}</p>
      </v-toolbar>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { parameters } from '@/utils/parameters.js'

export default {
  name: 'ProductSummariesView',
  components: {},
  data () {
    return {
      parameters: parameters,
      selectedProductCategory: '',
      headers: [
        {
          text: 'Name',
          align: 'start',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Quantity in Stock',
          value: 'quantity_in_stock'
        },
        {
          text: 'Quantity Sold',
          value: 'total_ordered_quantity'
        },
        {
          text: 'Amount Sold',
          value: 'total_ordered_amount'
        }
      ],
      today: new Date().toISOString().slice(0, 10),
      // statementStartDate
      statementStartDate: new Date().toISOString().substr(0, 10),
      statementStartDateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      statementStartDateMenu: false,
      // statementEndDate
      statementEndDate: new Date().toISOString().substr(0, 10),
      statementEndDateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      statementEndDateMenu: false,
      total_ordered_amount: 0
    }
  },

  computed: {
    ...mapGetters([
      'filteredProducts', 'productCategories'
    ])
  },

  watch: {
    statementStartDate (val) {
      this.statementStartDateFormatted = this.formatDate(this.statementStartDate)
    },
    statementEndDate (val) {
      this.statementEndDateFormatted = this.formatDate(this.statementEndDate)
    },
    filteredProducts (val) {
      this.total_ordered_amount = this.filteredProducts.reduce(function (accumulator, currentValue) {
        return accumulator + currentValue.total_ordered_amount
      }, 0)
    }
  },

  created () {
    this.$store.dispatch('getProductCategories').then(response => {
      this.selectedProductCategory = this.productCategories[0]
      this.initialize()
    })
  },

  methods: {
    navigateToOrder (order) {
      let route = this.$router.resolve({ path: `/orders/${order.id}/` })
      window.open(route.href, '_blank')
    },
    initialize (payload = { startDate: this.today, endDate: this.today, category: this.selectedProductCategory }) {
      this.$store.dispatch('getFilteredProducts', { start_date: payload.startDate, end_date: payload.endDate, category: this.selectedProductCategory })
    },
    getfilteredProducts () {
      this.initialize({ startDate: this.statementStartDate, endDate: this.statementEndDate, category: this.selectedProductCategory })
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  }
}
</script>

<style>
  .padding {
    padding-bottom: 30px;
  }
  .rightMargin {
    margin-right: 10px;
  }
</style>
