<template>
  <div>
    <v-card>
      <v-toolbar flat color="white">
        <v-spacer></v-spacer>
        <v-avatar class="rightMargin d-none d-print-block" color="orange">
          <img
            src="@/assets/theSpotCafeLogo.jpg"
            alt="Spot Cafe"
          >
        </v-avatar>
        <v-toolbar-title class="orange--text">Sales Statement</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-row justify="space-around">
        <v-card flat>
          <v-container>
            <v-row>
              <v-col md="6">
                <v-menu
                  ref="statementStartDateMenu"
                  v-model="statementStartDateMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="statementStartDateFormatted"
                      label="Start Date"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      outlined
                      append-icon="event"
                      @blur="statementStartDate = parseDate(statementStartDateFormatted)"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="statementStartDate" no-title @input="statementStartDateMenu = false"></v-date-picker>
                </v-menu>
              </v-col>
              <v-col md="6">
                <v-menu
                  ref="statementEndDateMenu"
                  v-model="statementEndDateMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="statementEndDateFormatted"
                      label="End Date"
                      hint="DD/MM/YYYY"
                      persistent-hint
                      outlined
                      append-icon="event"
                      @blur="statementEndDate = parseDate(statementEndDateFormatted)"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker :min="statementStartDate" v-model="statementEndDate" no-title @input="statementEndDateMenu = false"></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions class="d-print-none">
            <template v-if="filteredSales.length>0">
              <v-btn outlined class="ma-2" color="grey darken-2" onclick="window.print()">
                Print
                <v-icon>mdi-printer</v-icon>
              </v-btn>
            </template>
            <v-spacer/>
            <v-btn class="ma-2" color="orange" outlined @click="getFilteredSales">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-row>
      <v-divider></v-divider>
      <v-data-table
        :headers="headers"
        :items="filteredSales"
        item-key="table"
        hide-default-footer
        disable-pagination
      >
        <template v-slot:no-data>
          <div class="overline">
            <p class="text-center orange--text">No sales in this time range..</p>
          </div>
        </template>
        <template v-slot:item.status="{ item }">
          <v-chip>
            {{ parameters.orderStatus[item.status] || item.status }}
          </v-chip>
        </template>
        <template v-slot:item.paid="{ item }">
          <v-icon color="grey darken-3" small v-if="item.paid">mdi-check</v-icon>
          <v-icon color="grey darken-3" small v-else>mdi-cancel</v-icon>
        </template>
        <template v-slot:item.table="{ item }">
          <v-btn color="primary" text @click="navigateToOrder(item)">Table {{item.table}}</v-btn>
        </template>
        <template v-slot:item.created="{ item }">
          <span>{{ item.created | moment("calendar") }}</span>
        </template>
        <template v-slot:item.last_modified="{ item }">
          <span>{{ item.last_modified | moment("calendar") }}</span>
        </template>
        <template v-slot:item.total_amount="{ item }">
          <span>₦{{ item.total_amount }}</span>
        </template>
      </v-data-table>

      <v-toolbar flat color="white" v-if="filteredSales.length>0">
        <v-spacer></v-spacer>
        <p>Total Amount: ₦ {{Number(totalAmount).toLocaleString('us-US')}}</p>
      </v-toolbar>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { parameters } from '@/utils/parameters.js'

export default {
  name: 'SaleSummariesView',
  components: {},
  data () {
    return {
      parameters: parameters,
      selectedDepartment: '',
      headers: [
        {
          text: 'Table',
          align: 'start',
          sortable: true,
          value: 'table'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Paid',
          value: 'paid'
        },
        {
          text: 'Created',
          value: 'created'
        },
        {
          text: 'Last Updated',
          value: 'last_modified'
        },
        {
          text: 'Total',
          value: 'total_amount',
          align: 'end'
        }
      ],
      today: new Date().toISOString().slice(0, 10),
      // statementStartDate
      statementStartDate: new Date().toISOString().substr(0, 10),
      statementStartDateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      statementStartDateMenu: false,
      // statementEndDate
      statementEndDate: new Date().toISOString().substr(0, 10),
      statementEndDateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      statementEndDateMenu: false,
      totalAmount: 0
    }
  },

  computed: {
    ...mapGetters([
      'filteredSales'
    ])
  },

  watch: {
    statementStartDate (val) {
      this.statementStartDateFormatted = this.formatDate(this.statementStartDate)
    },
    statementEndDate (val) {
      this.statementEndDateFormatted = this.formatDate(this.statementEndDate)
    },
    filteredSales (val) {
      this.totalAmount = this.filteredSales.reduce(function (accumulator, currentValue) {
        return accumulator + currentValue.total_amount
      }, 0)
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    navigateToOrder (order) {
      let route = this.$router.resolve({ path: `/orders/${order.id}/` })
      window.open(route.href, '_blank')
    },
    initialize (payload = { startDate: this.today, endDate: this.today }) {
      this.$store.dispatch('getFilteredSales', { start_date: payload.startDate, end_date: payload.endDate })
    },
    getFilteredSales () {
      this.initialize({ startDate: this.statementStartDate, endDate: this.statementEndDate })
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  }
}
</script>

<style>
  .padding {
    padding-bottom: 30px;
  }
  .rightMargin {
    margin-right: 10px;
  }
</style>
