<template>
  <v-layout>
    <product-form :loadedProduct="loadedProduct" @saveProduct="handleSaveProduct" />
    <div class="progress">
      <v-progress-circular
        :size="150"
        color="primary"
        indeterminate
        v-if="loadingCirle"
      ></v-progress-circular>
    </div>
    <v-snackbar
        @input='updateStatus ? (afterNotificationAction()) : true'
        v-model='snackbar'
        :bottom='true'
        :color='snackbarColor'
        :left='true'
        :multi-line='true'
        :timeout='3000'
    >
        {{ snackbarText }}
        <v-btn
            dark
            text
            @click="snackbarClose()"
        >
            Close
        </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import ProductForm from './ProductForm'
export default {
  name: 'EditProductDetails',
  props: ['loadedProduct'],
  components: { ProductForm },
  data () {
    return {
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      loadingCirle: null,
      updateStatus: false
    }
  },
  methods: {
    snackbarClose () {
      this.snackbar = false
      if (this.updateStatus) {
        this.$router.push({ name: 'products' })
      }
    },
    afterNotificationAction () {
      if (this.updateStatus === true) {
        this.$router.push({ name: 'products' })
      }
    },
    handleSaveProduct (editedProduct) {
      this.loadingCirle = true
      this.$store.dispatch('updateAProduct', editedProduct).then((response) => {
        this.updateStatus = true
        this.loadingCirle = false
        this.snackbarText = 'Product updated successfully!'
        this.snackbar = true
        this.snackbarColor = 'success'
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          } else {
            this.updateStatus = false
            this.loadingCirle = false
            this.snackbarText = `Product update was unsuccessfully!`
            if (error.response.data.non_field_errors && error.response.data.non_field_errors[0].includes('unique set')) {
              this.snackbarText = this.snackbarText + ` The name ${editedProduct.get('name')} already exist for another product. Enter a different name`
            }
            this.snackbar = true
            this.snackbarColor = 'error'
          }
        })
    }
  }
}
</script>

<style scoped>
  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px
  }
</style>
