<template>
    <v-layout row wrap justify-space-around align-md-content-space-around>
      <v-flex xs12 md6>
        <v-card>
          <v-img :src='loadedProduct.image' class='white--text align-end' gradient='to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)' height='300px'>
          </v-img>
        </v-card>
      </v-flex>
      <v-flex xs12 md6>
        <v-card-title>{{loadedProduct.name}}</v-card-title>
        <v-card-text>
          <v-row
            class="mx-0"
          >
            <v-icon>mdi-basket-outline</v-icon>
            <div class="grey--text ml-4">{{loadedProduct.quantity_in_stock}} in stock</div>
          </v-row>
          <div class="my-4 subtitle-1 black--text">
            ₦{{loadedProduct.unit_price}}
          </div>
          <!-- <div>Small plates, salads & sandwiches - an intimate setting with 12 indoor seats plus patio seating.</div> -->
        </v-card-text>
        <v-divider class="mx-4"></v-divider>
        <v-card-actions>
          <v-btn class="ma-2 error" outlined @click='deleteProduct()'>Delete</v-btn>
            <router-link :to='"/products/"+loadedProduct.id+"/edit"' class='decoration-non'>
                <v-btn class="ma-2" outlined color="primary">
                  Edit
                </v-btn>
            </router-link>
          <v-btn class="ma-2" outlined @click='$router.push({ name:"products"})'>Close</v-btn>
        </v-card-actions>
      </v-flex>
      <div class="progress">
        <v-progress-circular
          :size="150"
          color="primary"
          indeterminate
          v-if="loadingCirle"
        ></v-progress-circular>
      </div>
      <v-snackbar
          @input='deleteStatus ? (afterNotificationAction()) : true'
          v-model='snackbar'
          :bottom='true'
          :color='snackbarColor'
          :left='true'
          :multi-line='true'
          :timeout='1000'
      >
          {{ snackbarText }}
          <v-btn
              dark
              text
              @click="snackbarClose()"
          >
              Close
          </v-btn>
      </v-snackbar>
    </v-layout>
</template>

<script>
export default {
  name: 'ProductDetails',
  props: ['loadedProduct'],
  data () {
    return {
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      loadingCirle: null,
      deleteStatus: false
    }
  },
  methods: {
    snackbarClose () {
      this.snackbar = false
      if (this.deleteStatus) {
        this.$router.push({ name: 'products' })
      }
    },
    afterNotificationAction () {
      if (this.deleteStatus === true) {
        this.$router.push({ name: 'products' })
      }
    },
    deleteProduct () {
      this.$store.dispatch('deleteAProduct', this.loadedProduct).then((response) => {
        this.deleteStatus = true
        this.loadingCirle = false
        this.snackbarText = 'Product deleted successfully!'
        this.snackbar = true
        this.snackbarColor = 'info'
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          } else {
            this.deleteStatus = false
            this.loadingCirle = false
            this.snackbarText = `Product deleted unsuccessfully! ${error}`
            this.snackbar = true
            this.snackbarColor = 'error'
          }
        })
    }
  }
}
</script>

<style scoped>
.decoration-non {
    text-decoration: none;
}
</style>
