<template>
  <v-card class="margins">
    <v-img :src="product.image" class="white--text align-end" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="200px">
      <v-card-title v-text="'₦'+product.unit_price"></v-card-title>
    </v-img>
    <v-card-title class="pb-0 title font-weight-light orange--text">{{product.name}}</v-card-title>
    <v-card-text>
      <v-chip-group active-class="white--text" column>
        <v-chip>{{product.quantity_in_stock}} in stock</v-chip>
        <v-chip>{{product.category.name}} Category</v-chip>
      </v-chip-group>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ProductCard',
  props: ['product'],
  data: () => ({}),
  methods: {
    reserve () {
      this.loading = true
      setTimeout(() => (this.loading = false), 2000)
    }
  }
}
</script>

<style scoped>
 .margins {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;
 }
</style>
