<template>
    <v-layout row wrap justify-space-around align-md-content-space-around>
      <v-flex xs12 md6 v-if="newImage">
        <v-card>
          <v-img :src='newImage' class='white--text align-end' gradient='to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)' height='300px'>
          </v-img>
        </v-card>
      </v-flex>
      <v-flex xs12 md6>
        <v-form
          ref="form"
          v-model="valid"
          :lazy-validation="lazy"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-radio-group v-model="loadedProduct.category" validate-on-blur row v-if="productCategoryObjects" :mandatory="true">
                  <v-radio v-for="(category, index) in productCategoryObjects" :key="index" :label="category.name" :value="category.name"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  label="Product Name"
                  outlined
                  v-model="loadedProduct.name"
                  :rules="productNameRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  label="Unit Price"
                  prefix="₦"
                  outlined
                  type="number"
                  step="0.01"
                  min="0"
                  v-model="loadedProduct.unit_price"
                  :rules="unitPriceRules"
                  required
                ></v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  label="Quantity in stock"
                  suffix="items"
                  outlined
                  type="number"
                  min="0"
                  v-model="loadedProduct.quantity_in_stock"
                  :rules="quantityInStockRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-file-input
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Upload an image"
                  prepend-icon="mdi-camera"
                  dense
                  outlined
                  @change="storeImageFile"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
          <v-divider class="mx-4"></v-divider>
          <v-card-actions>
            <v-btn class="ma-2" color="primary" :disabled="!valid" outlined @click="saveProduct()">save</v-btn>
            <v-btn class="ma-2" outlined @click='$router.push({ name:"products"})'>Close</v-btn>
          </v-card-actions>
        </v-form>
        <div id="errorMsgDiv" v-if="productErrorMessage" class="deep-orange lighten-4 black--text">{{productErrorMessage}}</div>
      </v-flex>
    </v-layout>
</template>

<script>
import {
  mapGetters
} from 'vuex'

export default {
  name: 'ProductForm',
  props: ['loadedProduct'],
  data () {
    return {
      file: '',
      newImage: null,
      category: '',
      valid: null,
      lazy: null,
      productErrorMessage: null,
      productNameRules: [
        v => !!v || 'Product name is required'
      ],
      unitPriceRules: [
        v => !!v || 'Unit price is required'
      ],
      quantityInStockRules: [
        v => !!v || 'Quantity in stock is required'
      ]
    }
  },
  computed: {
    ...mapGetters([
      'productCategories', 'productCategoryObjects'
    ])
  },
  mounted: function () {
    this.$store.dispatch('getProductCategories')
  },
  methods: {
    saveProduct () {
      this.$refs.form.validate()
      if (this.valid) {
        const formData = new FormData()
        formData.append('name', this.loadedProduct.name)
        formData.append('unit_price', this.loadedProduct.unit_price)
        formData.append('quantity_in_stock', this.loadedProduct.quantity_in_stock)
        var category = JSON.stringify(this.productCategoryObjects.find(item => (item.name === this.loadedProduct.category)))
        formData.append('category', category)
        if (this.newImage != null) {
          formData.append('image', this.newImage)
        }
        if (this.loadedProduct.id) {
          formData.append('id', this.loadedProduct.id)
        }
        this.$emit('saveProduct', formData)
      } else {
        this.productErrorMessage = 'Fill in all the required details!'
      }
    },
    storeImageFile (event) {
      this.file = event
      let reader = new FileReader()
      /*
        Add an event listener to the reader that when the file
        has been loaded, we flag the show preview as true and set the
        image to be what was read from the reader.
      */
      reader.addEventListener('load', function () {
        this.newImage = reader.result
      }.bind(this), false)

      /*
        Check to see if the file is not empty.
      */
      if (this.file) {
        /*
          Ensure the file is an image file.
        */
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          /*
            Fire the readAsDataURL method which will read the file in and
            upon completion fire a 'load' event which we will listen to and
            display the image in the preview.
          */
          reader.readAsDataURL(this.file)
        }
      }
    }
  }
}
</script>

<style scoped>
  #errorMsgDiv{
    border-radius: 4px;
    margin-bottom: 15px;
  }
</style>
