<template>
  <div>
    <v-card>
      <order-toolbar :toolbarTitle="'All Orders'" @initialize='initialize'></order-toolbar>
      <order-data-table :activeOrders="allOrders"></order-data-table>
    </v-card>
  </div>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import OrderToolbar from '../components/OrderToolbar'
import OrderDataTable from '../components/OrderDataTable'

export default {
  name: 'AllOrdersView',
  components: { OrderDataTable, OrderToolbar },
  data: () => ({
  }),

  computed: {
    ...mapGetters([
      'allOrders'
    ])
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      this.$store.dispatch('getOrders')
    }
  }
}
</script>

<style>
  .align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 50vh; */
  }
</style>
