<template>
  <v-layout>
    <order-form
      :order="order"
      :title="title"
      :activeProducts="activeProducts"
      @saveOrder="handleSaveOrder"
      @searchAndFilterProducts="handleSearchAndFilterProducts"
    />
    <div class="progress">
      <v-progress-circular
        :size="150"
        color="primary"
        indeterminate
        v-if="saveOrderloading"
      ></v-progress-circular>
    </div>
    <v-snackbar
      @input='(orderId) ? ($router.go(-1)) : true'
      v-model='snackbar'
      :bottom='true'
      :color='snackbarColor'
      :left='true'
      :multi-line='true'
      :timeout='1000'
    >
      {{ snackbarText }}
      <v-btn
        dark
        text
        @click="snackbarClose()"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import {
  mapGetters
  // mapActions
} from 'vuex'
import OrderForm from '../components/OrderForm'
export default {
  name: 'CreateOrderView',
  components: { OrderForm },
  computed: {
    ...mapGetters([
    ])
  },
  mounted: function () {
    this.initialize()
  },
  data () {
    return {
      activeProducts: [],
      title: 'New Order',
      orderId: null,
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      saveOrderloading: null,
      order: {
        products: [],
        table: '',
        notes: '',
        customer: { id: '' }
      }
    }
  },
  methods: {
    initialize (payload = { searchText: '', categoryName: '' }) {
      this.$store.dispatch('getProductsForOrders', { searchText: payload.searchText, categoryName: payload.categoryName }).then((response) => {
        let products = response.data.results
        products.forEach(product => {
          product['ordered_quantity'] = 0
        })
        this.activeProducts = products
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    snackbarClose () {
      this.snackbar = false
      if (this.orderId) {
        this.$router.go(-1)
      }
    },
    handleSearchAndFilterProducts (payload) {
      this.initialize(payload)
    },
    handleSaveOrder (newOrder) {
      this.saveOrderloading = true
      this.$store.dispatch('createAnOrder', newOrder).then((response) => {
        this.saveOrderloading = false
        this.snackbarText = 'Order creates successfully!'
        this.snackbar = true
        this.snackbarColor = 'success'
        this.orderId = response.data.id
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          } else {
            this.saveOrderloading = false
            this.snackbarText = `Order creation was unsuccessfully! ${error.response.data}`
            this.snackbar = true
            this.snackbarColor = 'error'
          }
        })
    }
  }
}
</script>

<style scoped>
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
</style>
