<template>
  <v-layout v-if="loadedOrder">
      <order-form
        :order="loadedOrder"
        :title="title"
        :activeProducts="activeProducts"
        :tables="tables"
        @saveOrder="handleSaveOrder"
        @searchAndFilterProducts="handleSearchAndFilterProducts"
        >
        <v-btn class="ma-2" color="error" outlined @click="handleArchiveOrder()">archive</v-btn>
      </order-form>
    <div class="progress">
      <v-progress-circular
        :size="150"
        color="orange"
        indeterminate
        v-if="saveOrderloading"
      ></v-progress-circular>
    </div>
    <v-snackbar
      @input='orderUpdateSuccess ? ($router.go(-1)) : true'
      v-model='snackbar'
      :bottom='true'
      :color='snackbarColor'
      :left='true'
      :multi-line='true'
      :timeout= snackbarTimeout
    >
      {{ snackbarText }}
      <v-btn
        dark
        text
        @click="snackbarClose()"
      >
        Close
      </v-btn>
    </v-snackbar>

    <v-dialog
      v-model="archiveDialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="orange--text headline">Confirm Action</v-card-title>

        <v-card-text>
          Confirm that you want to <span class="orange--text">archive</span> this order. Archived orders will not be displayed on your dashboard anymore.
          <v-container>
            <v-row>
              <v-col>
                <v-textarea
                  auto-grow
                  label="Reasons.."
                  rows="3"
                  row-height="20"
                  solo
                  v-model="archiveNotes"
                ></v-textarea>
                <p class="caption red--text" v-if="archiveNotesInputError">**Provide reason(s) for archiving this order</p>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="orange darken-1"
            text
            @click="archiveDialog = false"
          >
            Cancel
          </v-btn>

          <v-btn
            color="grey darken-1"
            text
            @click="archiveOrder()"
          >
            Archive
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import {
  mapGetters
  // mapActions
} from 'vuex'
import OrderForm from '../components/OrderForm'
export default {
  name: 'EditAnOrderView',
  components: { OrderForm },
  computed: {
    ...mapGetters([
      'tables'
    ])
  },
  mounted: function () {
    this.orderId = this.$route.params.id
    this.initialize()
  },
  data () {
    return {
      archiveDialog: false,
      archiveNotes: null,
      archiveNotesInputError: false,
      loadedOrder: null,
      activeProducts: [],
      orderStatus: [],
      title: 'Edit Order',
      orderId: null,
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      snackbarTimeout: 2000,
      saveOrderloading: null,
      orderUpdateSuccess: false
    }
  },
  methods: {
    snackbarClose () {
      this.snackbar = false
      if (this.orderId) {
        this.$router.go(-1)
      }
    },
    handleArchiveOrder () {
      this.archiveDialog = true
    },
    archiveOrder () {
      if (this.archiveNotes) {
        this.archiveDialog = false
        this.saveOrderloading = true
        this.$store.dispatch('archiveAnOrder', { archive_note: this.archiveNotes, id: this.loadedOrder.id }).then((response) => {
          this.saveOrderloading = false
          this.snackbarText = 'Order archived successfully!'
          this.snackbar = true
          this.snackbarColor = 'success'
          this.orderUpdateSuccess = true
          this.$router.go(-1)
        })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              this.$router.push({ name: 'login' })
            } else {
              this.saveOrderloading = false
              this.snackbarText = `Order archive was unsuccessfully! ${error.response.data}`
              this.snackbar = true
              this.snackbarColor = 'error'
            }
          })
      } else {
        this.archiveNotesInputError = true
      }
    },
    handleSearchAndFilterProducts (searchText) {
      this.loadData(searchText)
    },
    loadData (payload = { searchText: '', categoryName: '' }) {
      this.$store.dispatch('getProductsForOrders', { searchText: payload.searchText, categoryName: payload.categoryName }).then((response) => {
        let products = response.data.results
        products.forEach(product => {
          product['ordered_quantity'] = 0
        })
        this.activeProducts = products
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    initialize (payload = { searchText: '', categoryName: '' }) {
      /* Get all products then get the current order as loadedOrder */
      this.$store.dispatch('getProductsForOrders', { searchText: payload.searchText, categoryName: payload.categoryName }).then((productResponse) => {
        this.activeProducts = productResponse.data.results
        this.$store.dispatch('getAnOrder', this.orderId).then((response) => {
          this.loadedOrder = response.data
          this.activeProducts.forEach(product => {
            let foundProduct = this.loadedOrder.products.find(element => element.product.id === product.id)
            if (foundProduct) {
              product['ordered_quantity'] = 0
            } else {
              product['ordered_quantity'] = 0
            }
          })
        }).catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          }
        })
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getReducedCustomers').then((response) => {
        this.reducedCustomer = response.data
        this.reducedCustomer.text = `${response.data.first_name} ${response.data.last_name}`
        this.reducedCustomer.value = `${response.data.id}`
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getOrderStatus').then((response) => {
        this.orderStatus = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    handleSaveOrder (updatedOrder) {
      var completedOrderStatus = this.orderStatus.find(item => item.value === 'completed')
      if (updatedOrder.status.id === completedOrderStatus.id && !updatedOrder.is_paid) {
        this.snackbar = true
        this.snackbarText = `You cannot Complete an Unpaid order!`
        this.snackbarTimeout = 2000
        this.snackbarColor = 'red'
      } else {
        this.saveOrderloading = true
        this.$store.dispatch('updateAnOrder', updatedOrder).then((response) => {
          this.saveOrderloading = false
          this.snackbarText = 'Order updated successfully!'
          this.snackbar = true
          this.snackbarColor = 'success'
          this.snackbarTimeout = 2000
          this.orderId = response.data.id
          this.orderUpdateSuccess = true
        })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              this.$router.push({ name: 'login' })
            } else {
              this.saveOrderloading = false
              this.snackbarText = 'Order update was unsuccessfully!'
              this.snackbar = true
              this.snackbarColor = 'error'
            }
          })
      }
    }
  }
}
</script>

<style scoped>
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
</style>
