<template>
  <div v-if="loadedOrder">
    <v-card>
      <v-toolbar class="d-none d-print-block" flat color="white">
        <v-spacer></v-spacer>
        <v-avatar class="rightMargin" color="orange">
          <img
            src="@/assets/theSpotCafeLogo.jpg"
            alt="Spot Cafe"
          >
        </v-avatar>
        <v-toolbar-title class="font15 overline orange--text">THE SPOT CAFE</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-divider class="d-none d-print-block"></v-divider>

      <v-card-text>
        <v-layout>
          <v-layout class="d-none d-print-block justify-start">
            <div class="text--primary">
              The Spot Cafe,<br>
              4A Kotangora Close,<br>
              Area 3, Garki, <br>
              Abuja, Nigeria.
            </div>
          </v-layout>
          <v-layout class="justify-end">
            <v-simple-table dense>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>Order Date:</td>
                    <td>{{ loadedOrder.created | moment("dddd, MMMM Do YYYY") }}</td>
                  </tr>
                  <tr class="d-print-none">
                    <td>Table:</td>
                    <td>{{ loadedOrder.table }}</td>
                  </tr>
                  <tr v-if="loadedOrder.status">
                    <td>Status:</td>
                    <td>{{ parameters.orderStatus[loadedOrder.status.value] || loadedOrder.status.value }}</td>
                  </tr>
                  <tr>
                    <td>Order #:</td>
                    <td>{{ loadedOrder.order_number }}</td>
                  </tr>
                  <tr>
                    <td>Payment:</td>
                    <td>{{loadedOrder.is_paid ? 'PAID' : 'UNPAID'}}</td>
                  </tr>
                  <tr v-if="loadedOrder.customer">
                    <td>Customer:</td>
                    <td>{{loadedOrder.customer.first_name}} {{loadedOrder.customer.last_name}}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-layout>
        </v-layout>
      </v-card-text>

      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="loadedOrder.products"
          item-key="table"
          hide-default-footer
        >
          <template v-slot:no-data>
            <div class="">
              <p class="text-center orange--text">No products in this order..</p>
            </div>
          </template>
          <template v-slot:item.ordered_quantity="{ item }">
            {{item.ordered_quantity}}
          </template>
          <template v-slot:item.product.name="{ item }">
            {{item.product.name}}
          </template>
          <template v-slot:item.product.unit_price="{ item }">
            ₦ {{Number(item.product.unit_price).toLocaleString('us-US')}}
          </template>
          <template v-slot:item.product="{ item }">
            ₦ {{ Number(item.product.unit_price * item.ordered_quantity).toLocaleString('us-US') }}
          </template>
        </v-data-table>

        <v-divider></v-divider>

        <v-toolbar flat color="white">
          <v-simple-table dense v-if="loadedOrder.is_paid">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>Payment Method:</td>
                  <td>
                    <v-chip>{{ loadedOrder.charge_customer ? 'Charged' : 'Cash'}}</v-chip>
                  </td>
                </tr>
                <tr>
                  <td>Payment Date:</td>
                  <td>{{ loadedOrder.payment_date | moment("dddd, MMMM Do YYYY") }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-spacer></v-spacer>
          <p>TOTAL: ₦ {{Number(loadedOrder.total_amount).toLocaleString('us-US')}}</p>
        </v-toolbar>
      </v-card-text>

      <v-card-subtitle class="d-print-none" v-if="loadedOrder.notes">
        <v-row>
          <v-col>
            NOTES: <br>
            <p class="text--primary">{{loadedOrder.notes}}</p>
          </v-col>
        </v-row>
      </v-card-subtitle>

      <v-card-actions class="d-print-none">
        <v-layout>
          <v-layout class="justify-start">
            <v-btn outlined class="ma-2" color="grey darken-2" @click="issueReceipt()">
              Issue Receipt
              <v-icon>mdi-printer</v-icon>
            </v-btn>
          </v-layout>
          <v-layout class="justify-end">
            <v-btn v-if="loadedOrder.status && loadedOrder.status.value!='completed'" class="ma-2" color="orange" outlined @click="editOrder()">Edit</v-btn>
            <v-btn class="ma-2" outlined @click='closePage()'>Close</v-btn>
          </v-layout>
        </v-layout>
      </v-card-actions>
    </v-card>

    <!-- <v-dialog
      v-model="dialog"
      max-width="290"
      col
      class="d-print-none"
    >
      <v-card class="d-print-none">
        <v-card-title class="headline">Issue Receipt?</v-card-title>

        <v-card-text>
          This will mark the order as <strong class="orange--text">Completed</strong> and <strong class="orange--text">Paid</strong>.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color=""
            text
            @click="dialog = false"
          >
            Cancel
          </v-btn>

          <v-btn
            color="orange"
            text
            @click="printOrderReceipt()"
          >
            Issue Receipt
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    <v-snackbar
      v-model="snackbar"
      :timeout="snackbarTimeout"
      :bottom="true"
      :color="snackbarcolor"
      :left="true"
    >
      {{ snackbarText }}
      <v-btn
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { parameters } from '@/utils/parameters.js'
import {
  mapGetters
} from 'vuex'
export default {
  name: 'ViewAnOrderView',
  components: { },
  computed: {
    ...mapGetters([
    ])
  },
  mounted: function () {
    this.orderId = this.$route.params.id
    this.initialize()
  },
  data () {
    return {
      loadedOrder: {},
      parameters: parameters,
      dialog: false,
      snackbar: false,
      snackbarText: '',
      snackbarTimeout: 2000,
      snackbarcolor: 'red',
      headers: [
        {
          text: 'Quantity',
          align: 'start',
          sortable: true,
          value: 'ordered_quantity'
        },
        {
          text: 'Name',
          value: 'product.name',
          align: 'start'
        },
        {
          text: 'Unit Price',
          value: 'product.unit_price',
          align: 'end'
        },
        {
          text: 'Total Amount',
          value: 'product',
          align: 'end'
        }
      ],
      completedOrderStatus: {}
    }
  },
  methods: {
    initialize (payload = { searchText: '', categoryName: '' }) {
      this.$store.dispatch('getAnOrder', this.orderId).then((response) => {
        this.loadedOrder = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    closePage () {
      this.$router.go(-1)
      window.close()
    },
    issueReceipt () {
      if (this.loadedOrder.status.value === 'completed') {
        window.print()
      } else {
        // this.dialog = true
        this.snackbar = true
        this.snackbarText = `You cannot issue a  recipt for an order that is NOT Completed!`
        this.snackbarTimeout = 2000
      }
    },
    printOrderReceipt () {
      this.dialog = false
      if (!this.loadedOrder.is_paid) {
        this.$store.dispatch('getOrderStatus').then(response => {
          this.completedOrderStatus = response.data.find(item => item.value === 'completed')
        }).catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          }
        })
        let isPaidPayload = {
          id: this.loadedOrder.id,
          is_paid: 'true'
        }
        this.$store.dispatch('updateAnOrder', isPaidPayload).then(() => {
          let changeStatusPayload = { id: this.loadedOrder.id, status: this.completedOrderStatus }
          this.$store.dispatch('changeOrderStatus', changeStatusPayload).then(() => {
          }).catch(error => {
            if (error.response && error.response.status === 401) {
              this.$router.push({ name: 'login' })
            }
          })
        })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              this.$router.push({ name: 'login' })
            }
          })
      }
      window.print()
      this.initialize()
    },
    editOrder () {
      this.$router.push(`/orders/${this.loadedOrder.id}/edit`)
    }
  }
}
</script>

<style scoped>
.v-application .overline {
  font-size: 1rem !important;
}
</style>
