<template>
  <main>
    <app-nav-bar v-if="$route.name!='login'"/>
    <v-container class="my-2">
      <router-view/>
    </v-container>
    <!-- <app-footer v-if="$route.name!='login'"/> -->
  </main>
</template>

<script>
import AppNavBar from './AppNavBar'
// import AppFooter from './AppFooter'
export default {
  name: 'AppContainer',
  components: {
    AppNavBar
    // AppFooter
  },
  mounted: function () {
  },
  computed: {
  },
  data: () => ({}),
  methods: {
  }
}
</script>

<style scoped>
.margin-top {
  margin-top: 60px;
}
</style>
