<template>
  <v-bottom-navigation :value="activeNav" class="nav-bar" color="orange">
    <v-btn @click="navigateToOrders">
      <span>Orders</span>
      <v-icon>mdi-clipboard-text-outline</v-icon>
    </v-btn>
    <v-btn @click="navigateToProducts">
      <span>Products</span>
      <v-icon>mdi-food</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  name: 'AppFooter',
  data () {
    return {
      activeNav: ''
    }
  },
  watch: {
    $route (to, from) {
      if (to.name === 'orders') {
        this.activeNav = 2
      } else if (to.name === 'products') {
        this.activeNav = 1
      }
    }
  },
  methods: {
    navigateToOrders () {
      if (this.$route.name !== 'orders') {
        this.$router.push({ name: 'orders' })
      }
    },
    navigateToProducts () {
      if (this.$route.name !== 'products') {
        this.$router.push({ name: 'products' })
      }
    }
  }
}
</script>

<style scoped>
.nav-bar{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.navbar-item{
  text-decoration: none;
}
</style>
