<template>
  <v-toolbar color="elevation-0 d-print-none">
    <v-toolbar-title @click="navigateToDashboard" class="d-none d-sm-block hover-pointer bauhaus orange--text lighten-2">OrderDash</v-toolbar-title>
    <v-spacer></v-spacer>
    <template v-if="isAdmin()">
      <v-btn text @click="navigateToDashboard" :color="dashboardActiveNav">
        <span>Dashboard</span>
      </v-btn>
      <!-- <v-btn text @click="navigateToOrders" :color="ordersActiveNav">
        <span>Orders</span>
      </v-btn> -->
      <v-btn text @click="navigateToCustomers" :color="customersActiveNav">
        <span>Customers</span>
      </v-btn>
      <!-- <v-btn text @click="navigateToSalesSummaries" :color="salesSummariesActiveNav">
        <span>Sales</span>
      </v-btn> -->
      <v-btn text @click="navigateToProducts" :color="productsActiveNav">
        <span>Products</span>
      </v-btn>
      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">
            Summaries
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="navigateToSalesSummaries">
            <v-list-item-title >Sales</v-list-item-title>
          </v-list-item>
          <v-list-item @click="navigateToProductsSummaries">
            <v-list-item-title >Products</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <template v-if="!isAdmin()">
      <v-btn text @click="navigateToDashboard" :color="dashboardActiveNav">
        <span>Dashboard</span>
      </v-btn>
    </template>
    <v-spacer></v-spacer>
    <v-menu open-on-hover top offset-y>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-avatar size="46" color="orange">
            <span class="white--text">{{user.first_name[0]}}{{user.last_name[0]}}</span>
          </v-avatar>
        </v-btn>
      </template>

      <v-card
        class="mx-auto"
        max-width="344"
      >
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <v-avatar size="36" color="orange">
                <span class="white--text">{{user.first_name[0]}}{{user.last_name[0]}}</span>
              </v-avatar>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{user.first_name}} {{user.last_name}}</v-list-item-title>
              <v-list-item-subtitle>{{user.department.name}} Department</v-list-item-subtitle>
              <v-list-item-subtitle>{{user.email}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>
        <v-list>
          <v-list-item>
            <v-list-item-title>
              <v-btn text @click="navigateToProfile">
                <span>My Profile</span>
              </v-btn>
            </v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>
              <v-btn text @click="logout">
                <span>Log Out</span>
              </v-btn>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </v-toolbar>
</template>

<script>
import {
  mapGetters
} from 'vuex'

export default {
  name: 'AppNavBar',
  data () {
    return {
      dashboardActiveNav: '',
      ordersActiveNav: '',
      productsActiveNav: '',
      customersActiveNav: '',
      message: false,
      hints: true
    }
  },
  computed: {
    ...mapGetters([
      'user', 'authDepartment'
    ])
  },
  mounted () {
  },
  watch: {
    $route (to, from) {
      if (to.name === 'orders') {
        this.ordersActiveNav = 'orange'
        this.productsActiveNav = 'none'
        this.customersActiveNav = 'none'
        this.dashboardActiveNav = 'none'
      } else if (to.name === 'products') {
        this.ordersActiveNav = 'none'
        this.productsActiveNav = 'orange'
        this.customersActiveNav = 'none'
        this.dashboardActiveNav = 'none'
      } else if (to.name === 'customers') {
        this.ordersActiveNav = 'none'
        this.productsActiveNav = 'none'
        this.customersActiveNav = 'orange'
        this.dashboardActiveNav = 'none'
      } else if (to.name === 'dashboard') {
        this.ordersActiveNav = 'none'
        this.productsActiveNav = 'none'
        this.customersActiveNav = 'none'
        this.dashboardActiveNav = 'orange'
      } else if (to.name === 'sales') {
        this.ordersActiveNav = 'none'
        this.productsActiveNav = 'none'
        this.customersActiveNav = 'none'
        this.dashboardActiveNav = 'none'
      } else {
        this.ordersActiveNav = 'none'
        this.productsActiveNav = 'none'
        this.customersActiveNav = 'none'
        this.dashboardActiveNav = 'none'
      }
    }
  },
  methods: {
    isKitchen () {
      if (this.authDepartment === 'Kitchen') {
        return true
      }
    },
    isAdmin () {
      if (this.authDepartment === 'Administration') {
        return true
      }
    },
    navigateToOrders () {
      if (this.$route.name !== 'orders') {
        this.$router.push({ name: 'orders' })
      }
    },
    navigateToProducts () {
      if (this.$route.name !== 'products') {
        this.$router.push({ name: 'products' })
      }
    },
    navigateToCustomers () {
      if (this.$route.name !== 'customers') {
        this.$router.push({ name: 'customers' })
      }
    },
    navigateToProfile () {
      if (this.$route.name !== 'user') {
        this.$router.push({ name: 'user', params: { id: this.user.id } })
      }
    },
    navigateToDashboard () {
      if (this.$route.name !== 'dashboard') {
        this.$router.push({ name: 'dashboard' })
      }
    },
    navigateToSalesSummaries () {
      if (this.$route.name !== 'saleSummaries') {
        this.$router.push({ name: 'saleSummaries' })
      }
    },
    navigateToProductsSummaries () {
      if (this.$route.name !== 'productSummaries') {
        this.$router.push({ name: 'productSummaries' })
      }
    },
    logout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style scoped>
.nav-bar{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.navbar-item{
  text-decoration: none;
}
</style>
