<template>
    <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :color="color"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
    >
        {{ text }}
        <v-btn
            dark
            text
            @click="snackbar = false"
        >
            Close
        </v-btn>
    </v-snackbar>
</template>

<script>
export default {
  name: 'AppSnackbar',
  props: ['status'],
  data () {
    return {
      color: '',
      mode: '',
      snackbar: false,
      text: 'Hello, I\'m a snackbar',
      timeout: 6000,
      x: null,
      y: 'top'
    }
  },
  mounted: function () {
    this.snackbar = this.status
  },
  watch: {
    status: function (newStatus, oldStatus) {
      this.snackbar = newStatus
    }
  },
  methods: {
  }
}
</script>

<style scoped>
</style>
