<template>
  <div v-if="loadedCustomer">
    <v-card>
      <v-tabs color="orange" centered grow>
        <v-tab>
          <v-icon left>mdi-credit-card-outline</v-icon>
          Account
        </v-tab>
        <v-tab>
          <v-icon left>mdi-food</v-icon>
          Orders
        </v-tab>
        <v-tab>
          <v-icon left>mdi-card-account-details-outline</v-icon>
          Details
        </v-tab>
        <v-tab>
          <v-icon left>mdi-home-outline</v-icon>
          Address
        </v-tab>

        <v-tab-item class="sectionItem">
          <v-card flat>
            <!-- <v-card-text>
              <h3 class="text-uppercase">Customer Tab</h3>
            </v-card-text> -->

            <div class="overline">
              <p class="text-center display-1">₦ {{Number(loadedCustomer.account_balance).toLocaleString('us-US')}}</p>
            </div>

            <v-toolbar flat>
              <v-dialog v-model="transactionDialog" persistent max-width="350">
                <template v-slot:activator="{ on }">
                  <v-toolbar-title class="d-none d-sm-flex">Transaction History</v-toolbar-title>
                  <p class="d-flex d-sm-none">Transaction History</p>
                  <v-btn color="orange" class="d-none d-sm-flex" dark v-on="on" >
                    <span>Credit Account</span>
                    <v-icon dark>mdi-plus</v-icon>
                  </v-btn>
                  <v-btn icon color="orange" class="d-flex d-sm-none" dark v-on="on" >
                    <v-icon dark>mdi-plus</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                </template>
                <v-card>
                  <v-card-title>Credit Customer's Account</v-card-title>
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          v-model="newCustomerTransaction.amount"
                          color="orange"
                          label="Amount"
                          type="number"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12">
                        <v-text-field
                          v-model="newCustomerTransaction.description"
                          color="orange"
                          label="Description"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="ma-2" color="orange" outlined @click="saveCustomerTransaction">Save</v-btn>
                    <v-btn class="ma-2" outlined @click="transactionDialog=false">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>

            <v-card-text>
              <v-row>
                <v-col
                  cols="12"
                  sm="4"
                  xs="12"
                  v-for="(transaction, index) in customerTransactions"
                  :key="index"
                  >
                  <v-card
                    class="mx-auto"
                    max-width="344"
                    outlined
                  >
                    <v-card-text>
                      <div class="text--primary">
                        <v-list-item-title class="headline mb-1">
                          <div class="overline mb-4">
                            {{ parameters.customerTransactionTypes[transaction.transaction_type.value] || transaction.transaction_type.value }}
                          </div>
                          ₦ {{Number(transaction.amount).toLocaleString('us-US')}}
                        </v-list-item-title>
                        <div><span class="grey--text">by:</span> {{transaction.initiated_by.first_name}} {{transaction.initiated_by.last_name}}</div>
                        <div><span class="grey--text">balance:</span> ₦ {{Number(transaction.balance_at_transaction).toLocaleString('us-US')}}</div>
                        <div><span class="grey--text">created:</span> {{ transaction.created | moment("MMM Do YYYY") }}</div>
                        <div v-if="transaction.description">
                          <span class="grey--text">Description:</span> <span>{{ transaction.description }}</span>
                        </div>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
              <div class="overline" v-if="customerTransactions.length<=0">
                <p class="text-center orange--text">No transactions..</p>
              </div>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item class="sectionItem">
          <v-card flat>
            <!-- <v-card-text>
              <h3 class="text-uppercase">Customer Orders</h3>
            </v-card-text> -->
            <v-card-text>
              <v-card flat>
                <template>
                  <v-toolbar flat>
                    <v-toolbar-title>Active Orders</v-toolbar-title>
                    <v-spacer></v-spacer>
                  </v-toolbar>
                  <order-data-table :activeOrders="customersActiveOrders" v-if="customersActiveOrders.length>0"></order-data-table>

                  <div class="overline" v-if="customersActiveOrders.length<=0">
                    <p class="text-center orange--text">No active orders..</p>
                  </div>
                </template>
                <v-divider></v-divider>
                <template>
                  <v-toolbar flat>
                    <v-toolbar-title>Order History</v-toolbar-title>
                    <v-spacer></v-spacer>
                  </v-toolbar>
                  <order-data-table :activeOrders="allCustomersOrders" v-if="allCustomersOrders.length>0"></order-data-table>

                  <div class="overline" v-if="allCustomersOrders.length<=0">
                    <p class="text-center orange--text">No order history..</p>
                  </div>
                </template>
              </v-card>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item class="sectionItem">
          <v-card flat>
            <!-- <v-card-text>
              <h3 class="text-uppercase">Customer Details</h3>
            </v-card-text> -->
            <v-card-text>
              <customer-form
                :nameTitles="nameTitles"
                :nameTitlesWithID="nameTitlesWithID"
                :customer="loadedCustomer"
                :formTitle="formTitle"
                :customerPhoneNumbers="customerPhoneNumbers"
                :countryCodes="countryCodes"
                @saveCustomer="handleSaveCustomer"
                @deleteCustomerPhoneNumber="handleDeleteCustomerPhoneNumber"
                @addCustomerPhoneNumber="handleAddCustomerPhoneNumber"
              >
                <v-btn class="ma-2" color="error" outlined @click="handleArchiveCustomer()">archive</v-btn>
              </customer-form>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item class="sectionItem">
          <v-card flat>
            <!-- <v-card-text>
              <h3 class="text-uppercase">Customer Address Book</h3>
            </v-card-text> -->
            <v-card-text>
              <customer-addresses-display
                :countries="countries"
                :customer="loadedCustomer"
                :addresses="addresses"
                @updateCustomerAddress='handleUpdateCustomerAddress'
                @deleteCustomerAddress='handleDeleteACustomerAddress'
                @saveNewCustomerAddress='handleSaveNewCustomerAddress'
              >
              </customer-addresses-display>
              <div class="overline" v-if="addresses.length<=0">
                <p class="text-center orange--text">No addresses..</p>
              </div>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-card>

    <div class="progress">
      <v-progress-circular
        :size="150"
        color="primary"
        indeterminate
        v-if="saveCustomerloading"
      ></v-progress-circular>
    </div>
      <!-- @input='customerUpdateSuccess ? ($router.go(-1)) : true' -->
    <v-snackbar
      v-model='snackbar'
      :bottom='true'
      :color='snackbarColor'
      :left='true'
      :multi-line='true'
      :timeout='1000'
    >
      {{ snackbarText }}
      <v-btn
        dark
        text
        @click="snackbarClose()"
      >
        Close
      </v-btn>
    </v-snackbar>

    <v-dialog
      v-model="archiveDialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="orange--text headline">Confirm Action</v-card-title>

        <v-card-text>
          Confirm that you want to <span class="orange--text">archive</span> this customer. Archived Customers will not be displayed on your dashboard anymore.
          <v-container>
            <v-row>
              <v-col>
                <v-textarea
                  auto-grow
                  label="Reasons.."
                  rows="3"
                  row-height="20"
                  solo
                  v-model="archiveNotes"
                ></v-textarea>
                <p class="caption red--text" v-if="archiveNotesInputError">**Provide reason(s) for archiving this customer</p>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="orange darken-1"
            text
            @click="archiveDialog = false"
          >
            Cancel
          </v-btn>

          <v-btn
            color="grey darken-1"
            text
            @click="archiveCustomer()"
          >
            Archive
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import { parameters } from '@/utils/parameters.js'
import CustomerForm from '../components/CustomerForm'
import CustomerAddressesDisplay from '../components/CustomerAddressesDisplay'
import OrderDataTable from '@/order/components/OrderDataTable'
export default {
  name: 'ACustomerView',
  components: { CustomerForm, OrderDataTable, CustomerAddressesDisplay },
  computed: {
    ...mapGetters([
      'nameTitles', 'nameTitlesWithID'
    ])
  },
  mounted: function () {
    this.customerId = this.$route.params.id
    this.initialize()
  },
  data () {
    return {
      parameters: parameters,
      newCustomerTransaction: {},
      customerTransactions: [],
      transactionDialog: false,
      archiveDialog: false,
      archiveNotes: null,
      archiveNotesInputError: false,
      loadedCustomer: null,
      activeProducts: [],
      formTitle: 'Edit customer',
      customerId: null,
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      saveCustomerloading: null,
      customerUpdateSuccess: false,
      customerPhoneNumbers: [],
      countryCodes: [],
      countries: [],
      allCustomersOrders: [],
      customersActiveOrders: [],
      customerOrdersSummaries: '',
      // tab var
      tabTitles: ['Active', 'Progress', 'Completed'],
      tab: null,
      addresses: []
    }
  },
  methods: {
    snackbarClose () {
      this.snackbar = false
      if (this.CustomerId) {
        this.$router.go(-1)
      }
    },
    handleArchiveCustomer () {
      this.archiveDialog = true
    },
    archiveCustomer () {
      if (this.archiveNotes) {
        this.archiveDialog = false
        this.saveCustomerloading = true
        this.$store.dispatch('archiveAnCustomer', { archive_note: this.archiveNotes, id: this.loadedCustomer.id }).then((response) => {
          this.saveCustomerloading = false
          this.snackbarText = 'customer archived successfully!'
          this.snackbar = true
          this.snackbarColor = 'success'
          this.customerUpdateSuccess = true
          this.$router.go(-1)
        })
          .catch(error => {
            if (error.response && error.response.status === 401) {
              this.$router.push({ name: 'login' })
            } else {
              this.saveCustomerloading = false
              this.snackbarText = `customer archive was unsuccessfully! ${error.response.data}`
              this.snackbar = true
              this.snackbarColor = 'error'
            }
          })
      } else {
        this.archiveNotesInputError = true
      }
    },
    initialize () {
      // Order data
      this.$store.dispatch('getCustomersOrders', { customerID: this.customerId }).then(response => {
        this.allCustomersOrders = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getCustomersActiveOrders', { customerID: this.customerId }).then(response => {
        this.customersActiveOrders = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      // Order data
      this.$store.dispatch('getCustomerOrdersSummaries', { customerID: this.customerId }).then(response => {
        this.customerOrdersSummaries = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      // Customer data
      this.$store.dispatch('getNameTitle')
      this.$store.dispatch('getCountries').then((response) => {
        this.countries = response.data.map(function (item) {
          return { text: item.value, value: item.id }
        })
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getCountryCodes').then((response) => {
        this.countryCodes = response.data.map(function (item) {
          return { text: `(${item.country}) ${item.code}`, value: item.id }
        })
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getCustomerPhoneNumbers', this.customerId).then((response) => {
        this.customerPhoneNumbers = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getCustomerAddresses', this.customerId).then((response) => {
        this.addresses = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.$store.dispatch('getACustomer', this.customerId).then((response) => {
        this.loadedCustomer = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
      this.getCustomerTransactions()
    },
    handleSaveCustomer (updatedCustomer) {
      this.saveCustomerloading = true
      this.$store.dispatch('updateACustomer', updatedCustomer).then((response) => {
        this.saveCustomerloading = false
        this.snackbarText = 'customer updated successfully!'
        this.snackbar = true
        this.snackbarColor = 'success'
        this.CustomerId = response.data.id
        this.customerUpdateSuccess = true
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          } else {
            this.saveCustomerloading = false
            this.snackbarText = `customer update was unsuccessfully! ${error.response.data}`
            this.snackbar = true
            this.snackbarColor = 'error'
          }
        })
    },
    handleDeleteCustomerPhoneNumber (customerPhoneNumber) {
      this.$store.dispatch('deleteCustomerPhoneNumber', customerPhoneNumber).then((response) => {
        this.initialize()
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    handleAddCustomerPhoneNumber (customerPhoneNumber) {
      this.$store.dispatch('createACustomerPhoneNumber', customerPhoneNumber).then((response) => {
        this.initialize()
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    handleUpdateCustomerAddress (payload) {
      this.$store.dispatch('updateAnAddress', payload).then((response) => {
        this.initialize()
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    handleDeleteACustomerAddress (payload) {
      payload.customerID = this.customerId
      this.$store.dispatch('deleteACustomerAddress', payload).then((response) => {
        this.initialize()
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    handleSaveNewCustomerAddress (payload) {
      this.$store.dispatch('createANewCustomerAddress', { customerID: this.customerId, address: payload }).then((response) => {
        this.initialize()
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    getCustomerTransactions () {
      this.$store.dispatch('getCustomerTransactions', this.customerId).then((response) => {
        this.customerTransactions = response.data
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    },
    saveCustomerTransaction () {
      this.transactionDialog = false
      this.$store.dispatch('createACustomerTransaction', { data: this.newCustomerTransaction, customerID: this.customerId }).then((response) => {
        this.initialize()
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    }
  }
}
</script>

<style scoped>
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
.card-padding {
  padding: 10px;
}
.active-order-card {
  margin-bottom: 20px;
}
.sectionItem {
  min-height:500px;
  padding-top: 15px !important;
}
</style>
