<template>
  <div>
    <v-card class="mx-auto card-padding">
      <v-data-table
        :headers="headers"
        :items="activeCustomers"
        sort-by="calories"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>All Customers</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="orange" dark class="mb-2" @click="newCustomer()">
              <span>New Customer</span>
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn icon @click="goToCustomer(item)">
            <v-icon>
              mdi-open-in-new
            </v-icon>
          </v-btn>
        </template>
        <template v-slot:no-data>
          <v-card class="overline">
            <v-card-text>
              <p class="text-center">No customers..</p>
            </v-card-text>
            <v-card-actions class="align-center">
              <v-btn outlined dark color="orange" @click="initialize">Refresh</v-btn>
            </v-card-actions>
          </v-card>
        </template>
        <template v-slot:item.created="{ item }">
          <span>{{ item.created | moment("calendar") }}</span>
        </template>
        <template v-slot:item.title="{ item }">
          <span>{{ item.title.value }}</span>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import {
  mapGetters
} from 'vuex'

// import { parameters } from '@/utils/parameters.js'

export default {
  name: 'AllCustomersView',
  data: () => ({
    dialog: false,
    headers: [
      {
        text: 'Title',
        align: 'start',
        sortable: false,
        value: 'title'
      },
      {
        text: 'First name',
        align: 'start',
        sortable: true,
        value: 'first_name'
      },
      {
        text: 'Last name',
        align: 'start',
        sortable: true,
        value: 'last_name'
      },
      {
        text: 'Created',
        align: 'start',
        sortable: true,
        value: 'created'
      },
      { text: 'Actions', value: 'actions', sortable: false }
    ]
  }),
  watch: {
  },
  computed: {
    ...mapGetters([
      'activeCustomers'
    ])
  },
  created () {
    this.initialize()
  },
  methods: {
    initialize () {
      this.$store.dispatch('getCustomers')
    },

    goToCustomer (customer) {
      this.$router.push(`/customers/${customer.id}`)
    },

    newCustomer () {
      this.$router.push({ name: 'newCustomer' })
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    }
  }
}
</script>

<style>
.card-padding {
  padding: 10px;
}
</style>
