<template>
  <div>
    <v-card flat>
      <v-card-title class="align-center orange--text">Add new customer</v-card-title>
      <v-card-text>
        <customer-form
          :nameTitles="nameTitles"
          :nameTitlesWithID="nameTitlesWithID"
          :customer="loadedCustomer"
          :countryCodes="countryCodes"
          @saveCustomer="handleSaveCustomer"
        >
        </customer-form>
      </v-card-text>
    </v-card>
    <div class="progress">
      <v-progress-circular
        :size="150"
        color="primary"
        indeterminate
        v-if="loadingCirle"
      ></v-progress-circular>
    </div>
    <v-snackbar
      @input='afterNotificationAction()'
      v-model='snackbar'
      :bottom='true'
      :color='snackbarColor'
      :left='true'
      :multi-line='true'
      :timeout='3000'
    >
      {{ snackbarText }}
      <v-btn
        dark
        text
        @click="afterNotificationAction()"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {
  mapGetters
} from 'vuex'
import CustomerForm from '../components/CustomerForm'
export default {
  name: 'CreateCustomerView',
  components: { CustomerForm },
  data () {
    return {
      loadedCustomer: {},
      newCustomer: {},
      snackbarText: '',
      snackbar: false,
      snackbarColor: 'info',
      loadingCirle: null,
      createStatus: false,
      countryCodes: []
    }
  },
  computed: {
    ...mapGetters([
      'nameTitles', 'nameTitlesWithID'
    ])
  },
  mounted: function () {
    this.initialize()
  },
  methods: {
    afterNotificationAction () {
      this.snackbar = false
      if (this.createStatus === true) {
        this.$router.push(`/customers/${this.newCustomer.id}/`)
      }
    },
    handleSaveCustomer (newCustomer) {
      this.loadingCirle = true
      this.$store.dispatch('createACustomer', newCustomer).then((response) => {
        this.newCustomer = response.data
        this.loadingCirle = false
        this.snackbarText = 'customer creates successfully!'
        this.snackbar = true
        this.snackbarColor = 'success'
        this.createStatus = true
      })
        .catch(error => {
          if (error.response && error.response.status === 401) {
            this.$router.push({ name: 'login' })
          } else {
            this.loadingCirle = false
            this.snackbarText = `Customer creation was unsuccessfully!`
            this.snackbar = true
            this.snackbarColor = 'error'
          }
        })
    },
    initialize () {
      this.$store.dispatch('getNameTitle')
      this.$store.dispatch('getCountryCodes').then((response) => {
        this.countryCodes = response.data.map(function (item) {
          return { text: `(${item.country}) ${item.code}`, value: item.id }
        })
      }).catch(error => {
        if (error.response && error.response.status === 401) {
          this.$router.push({ name: 'login' })
        }
      })
    }
  }
}
</script>

<style scoped>
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
</style>
