<template>
  <v-app>
    <app-container/>
  </v-app>
</template>

<script>
import AppContainer from './components/AppContainer'

export default {
  name: 'App',
  components: {
    AppContainer
  }
}
</script>

<style>
.bauhaus {
  font-family: 'Bauhaus 93', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.hover-pointer:hover {
  cursor: pointer;
}
</style>
